<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="footer-title">About Gameforest</div>
            <p>Gameforest is a Bootstrap Gaming theme what is built on the world's most popular front-end framework. Clean and well coded professional front-end files are included in your downloaded package.</p>
            <a class="btn btn-outline-light mt-2" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase theme</a>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="footer-title">Popular Categories</div>
            <div class="footer-tags">
                <a href="#">Playstation 4</a>
                <a href="#">Xbox One</a>
                <a href="#">God of War</a>
                <a href="#">Bioshock</a>
                <a href="#">Uncharted 4</a>
                <a href="#">Uplay</a>
                <a href="#">Steam</a>
                <a href="#">Wordpress</a>
                <a href="#">Rachet</a>
                <a href="#">Github</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-title">Subscribe</div>
            <p>Subscribe to our newsletter and get notification when new games are available.</p>
            <form>
                <div class="input-group mt-4">
                    <input type="text" class="form-control shadow-none border-0" placeholder="Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </div>
                <div class="custom-control custom-checkbox mt-3">
                    <input type="checkbox" class="custom-control-input" id="subscribe">
                    <label class="custom-control-label" for="subscribe">Subscribe me to newsletter</label>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container d-md-flex">
        <div>
            <div class="footer-links">
                <a href="#">About Gameforest</a>
                <a href="#">Terms of Service</a>
                <a href="#">Documentation</a>
                <a href="#">Changelog</a>
            </div>
            <p class="footer-copyright">&copy; {{ now|date("Y") }} <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. Designed and built with lot of skill by <a href="https://yakuthemes.com" target="_blank">yakuthemes</a>. All rights reserved.</p>
        </div>
        <div class="footer-social ml-md-auto text-md-right">
            <span class="d-block mb-3">follow us on social media</span>
            <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="ya ya-facebook"></i></a>
            <a href="#" target="_blank" data-toggle="tooltip" title="twitter"><i class="ya ya-twitter"></i></a>
            <a href="#" target="_blank" data-toggle="tooltip" title="instagram"><i class="ya ya-instagram"></i></a>
            <a href="#" target="_blank" data-toggle="tooltip" title="discord"><i class="ya ya-discord"></i></a>
            <a href="#" target="_blank" data-toggle="tooltip" title="youtube"><i class="ya ya-youtube"></i></a>
            <a href="https://github.com/yakuthemes" target="_blank" data-toggle="tooltip" title="github"><i class="ya ya-github"></i></a>
            <a href="#" target="_blank" data-toggle="tooltip" title="twitch"><i class="ya ya-twitch"></i></a>
        </div>
    </div>
</div>
