{% extends "base.twig" %}

{% set page = {
    footer: 'sticky'
} %}

{% block body %}
    <section class="bg-image error-404" ya-style="background-color: #252525">
        <img class="background" src="https://img.youtube.com/vi/y3Cpetu4ke4/maxresdefault.jpg" alt="">
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="error-content">
                        <h1 class="error-title">404</h1>
                        <p class="error-text mb-4">We're sorry, but the page you requested cannot be found.</p>
                        <form class="mb-5" action="search.html">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-inline border-0 shadow-none" placeholder="Search page...">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-light border-0"><i class="ya ya-search m-0"></i></button>
                                </div>
                            </div>
                        </form>
                        <a class="btn btn-primary btn-rounded btn-lg" href="/">Back to home</a>
                        <a class="btn btn-outline-light btn-rounded btn-lg ml-2" href="/">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
