{% extends "base.twig" %}

{% set page = {
    footer: 'sticky'
} %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
