{% extends "base.twig" %}

{% set page = {
    footer: 'sticky'
} %}

{% block body %}
    <nav class="bg-primary pt-1" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Changelog</li>
            </ol>
        </div>
    </nav>

    <section class="bg-primary d-flex align-items-center py-5 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="display-5 font-weight-normal text-white mb-3">Changelog</h6>
                    <p class="lead text-light mb-3 mb-lg-7">Description about recent modifications and list of modified files what need to <br>be replaced with current version. Gameforest is up to date with bootstrap 4 framework.</p>
                </div>
            </div>
        </div>
        <div class="divider" ya-svg="divider"></div>
    </section>

    <section class="py-lg-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>5.0.2 - <span class="font-weight-light">(27 February 2019)</span></h3>
                    <ul>
                        <li><span class="badge badge-success p-1">Fix</span> <code>.navbar-search</code> when not fixed.</li>
                        <li><span class="badge badge-success p-1">Fix</span> <code>.fixed-navbar</code> z-index.</li>
                        <li><span class="badge badge-success p-1">Fix</span> <code>.navbar</code> padding on small devices.</li>
                        <li><span class="badge badge-primary p-1">Update</span> Bootstrap from 4.3.0 to 4.3.1</li>
                    </ul>
                    <h3 class="mt-5">5.0.1 - <span class="font-weight-light">(12 February 2019)</span></h3>
                    <ul>
                        <li><span class="badge badge-success p-1">Fix</span> <code>.nav-scroll</code> issue on iphone.</li>
                        <li><span class="badge badge-success p-1">Fix</span>  offsetHeight error in console.</li>
                        <li><span class="badge badge-primary p-1">Update</span> home games layout promo bg and slider margin.</li>
                        <li><span class="badge badge-primary p-1">Update</span> Bootstrap from 4.2.1 to 4.3.0</li>
                        <li><span class="badge badge-primary p-1">Update</span> Fontawesome from 5.6.3 to 5.7.1</li>
                        <li><span class="badge badge-primary p-1">Update</span> noUiSlider from 12.1.0 to 13.1.0</li>
                        <li><span class="badge badge-primary p-1">Update</span> lazysizes from 4.1.4 to 4.1.5</li>
                        <li><span class="badge badge-primary p-1">Update</span> bootstrap-select from 1.13.3 to 1.13.5</li>
                        <li><span class="badge badge-primary p-1">Update</span> documentation</li>
                        <li><span class="badge badge-danger p-1">Remove</span> <code>.mb-4</code> class from cards at shop-product page.</li>
                    </ul>
                    <h3 class="mt-5">5.0.0 - Initial release <span class="font-weight-light">(25 January 2019)</span></h3>
                    <ul>
                        <li><a href="https://yakuthemes.com" target="_blank">@yakuthemes</a> created gameforest again.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
