{% extends "base.twig" %}

{% set page = {
    footer: 'sticky'
} %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Lightbox Component</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lightbox</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Lightbox</h6>
                        <div class="card-body">
                            <a class="btn btn-outline" href="https://static.giantbomb.com/uploads/original/5/56742/3058974-3631271585-rdr2-.jpg" ya-lightbox role="button">Open lightbox</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="card card-default mb-0">
                                <h6 class="card-header">Gallery</h6>
                                <div class="card-body">
                                    <a class="btn btn-outline" href="https://static.giantbomb.com/uploads/original/8/85316/2851845-uncharted+4_+a+thief%E2%80%99s+end%E2%84%A2_20160515122710.png" ya-lightbox rel="anthem" role="button">Open Gallery</a>
                                    <a class="d-none" href="https://static.giantbomb.com/uploads/original/8/85316/2851846-uncharted+4_+a+thief%E2%80%99s+end%E2%84%A2_20160515122915.png" ya-lightbox rel="anthem" role="button"></a>
                                    <a class="d-none" href="https://static.giantbomb.com/uploads/original/8/85316/2851827-uncharted+4_+a+thief%E2%80%99s+end%E2%84%A2_20160514193831.png" ya-lightbox rel="anthem" role="button"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card card-default mb-0">
                                <h6 class="card-header">Video</h6>
                                <div class="card-body">
                                    <a class="btn btn-outline" href="https://www.youtube.com/watch?v=Dw_oH5oiUSE" ya-lightbox role="button">Youtube</a>
                                    <a class="btn btn-outline" href="https://clips.twitch.tv/EncouragingShakingPoxRalpherZ" ya-lightbox role="button">Twitch</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card card-default mb-0">
                                <h6 class="card-header">Comments</h6>
                                <div class="card-body">
                                    <a class="btn btn-outline" href="https://www.youtube.com/watch?v=Dw_oH5oiUSE" ya-lightbox="disqus: gameforest" role="button">Disqus</a>
                                    <a class="btn btn-outline" href="https://static.giantbomb.com/uploads/original/5/56742/3058975-9282494737-rdr2-.jpg" ya-lightbox="facebook: true" rel="read-dead-redemption2" role="button">Facebook</a>
                                    <a class="d-none" href="https://static.giantbomb.com/uploads/original/5/56742/3058981-0739123767-rdr2-.jpg" ya-lightbox rel="read-dead-redemption2" role="button"></a>
                                    <a class="d-none" href="https://static.giantbomb.com/uploads/original/5/56742/3058976-8068256880-rdr2-.jpg" ya-lightbox rel="read-dead-redemption2" role="button"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
