{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Promo Component</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Promo</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="card mb-0">
                <h6 class="card-header">Promo Variations</h6>
                <div class="card-body">
                    <section class="bg-primary py-0">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="promo">
                                        <h2 class="promo-title h4">Build your professional gaming website with Gameforest</h2>
                                        <a class="btn btn-outline-light ml-4" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase Now <i class="ya ya-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="bg-dark py-0 mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="promo">
                                        <h2 class="promo-title h4">Build your professional gaming website with Gameforest</h2>
                                        <a class="btn btn-outline-light ml-4" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase Now <i class="ya ya-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="bg-danger py-0 mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="promo">
                                        <h2 class="promo-title h4">Build your professional gaming website with Gameforest</h2>
                                        <a class="btn btn-outline-light ml-4" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase Now <i class="ya ya-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="bg-success py-0 mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="promo">
                                        <h2 class="promo-title h4">Build your professional gaming website with Gameforest</h2>
                                        <a class="btn btn-outline-light ml-4" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase Now <i class="ya ya-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="bg-info py-0 mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="promo">
                                        <h2 class="promo-title h4">Build your professional gaming website with Gameforest</h2>
                                        <a class="btn btn-outline-light ml-4" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase Now <i class="ya ya-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="bg-warning py-0 mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="promo">
                                        <h2 class="promo-title h4">Build your professional gaming website with Gameforest</h2>
                                        <a class="btn btn-outline-light ml-4" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase Now <i class="ya ya-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
