{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Alert Component</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Alert</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Alerts</h6>
                        <div class="card-body">
                            <div class="alert alert-primary" role="alert">A simple primary alert—check it out!</div>
                            <div class="alert alert-secondary" role="alert">A simple secondary alert—check it out!</div>
                            <div class="alert alert-success" role="alert">A simple success alert—check it out!</div>
                            <div class="alert alert-danger" role="alert">A simple danger alert—check it out!</div>
                            <div class="alert alert-warning" role="alert">A simple warning alert—check it out!</div>
                            <div class="alert alert-info" role="alert">A simple info alert—check it out!</div>
                            <div class="alert alert-dark" role="alert">A simple dark alert—check it out!</div>
                            <div class="alert alert-purple" role="alert">A simple purple alert—check it out!</div>
                            <div class="alert alert-light mb-0" role="alert">A simple light alert—check it out!</div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Darken Alerts</h6>
                        <div class="card-body">
                            <div class="alert alert-darken-primary" role="alert">A simple primary alert—check it out!</div>
                            <div class="alert alert-darken-secondary" role="alert">A simple secondary alert—check it out!</div>
                            <div class="alert alert-darken-success" role="alert">A simple success alert—check it out!</div>
                            <div class="alert alert-darken-danger" role="alert">A simple danger alert—check it out!</div>
                            <div class="alert alert-darken-warning" role="alert">A simple warning alert—check it out!</div>
                            <div class="alert alert-darken-info" role="alert">A simple info alert—check it out!</div>
                            <div class="alert alert-darken-dark" role="alert">A simple dark alert—check it out!</div>
                            <div class="alert alert-darken-purple mb-0" role="alert">A simple purple alert—check it out!</div>
                        </div>
                    </div>

                    <div class="card card-default mb-0">
                        <h6 class="card-header">Dismissible alerts</h6>
                        <div class="card-body">
                            <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
