{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Blog Component</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Blog Post</h6>
                        <div class="card-body px-4 pt-4 pb-0">
                            <div class="post">
                                <div class="post-body">
                                    <h2 class="post-title"><a href="blog-post-video.html">New Red Dead Redemption 2 Character Art Appears As Massive Billboards</a></h2>
                                    <div class="post-meta">
                                        <span class="post-meta-item"><i class="ya ya-calendar"></i> September 10, 2018</span>
                                        <a class="post-meta-item" href="blog-post-video.html"><i class="ya ya-comment"></i> 49 comments</a>
                                        <span class="post-meta-item"><i class="ya ya-clock"></i> 17 min read</span>
                                    </div>
                                    <p>Ever man are put down his very. And marry may table him avoid. Hard sell it were into it upon. He forbade affixed parties of assured to me windows. Happiness him nor she disposing provision. Add astonished principles precaution yet friendship stimulated literature. State thing might stand one his plate. Offending or extremity therefore so difficult he on provision. Tended depart turned not are.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Blog Thumbnail</h6>
                        <div class="card-body px-4 pt-4 pb-0">
                            <div class="post">
                                <div class="post-thumbnail">
                                    <img class="post-img" src="https://img.youtube.com/vi/eaW0tYpxyp0/maxresdefault.jpg" alt="">
                                </div>
                                <div class="post-body">
                                    <h2 class="post-title"><a href="blog-post-video.html">New Red Dead Redemption 2 Character Art Appears As Massive Billboards</a></h2>
                                    <div class="post-meta">
                                        <span class="post-meta-item"><i class="ya ya-calendar"></i> September 10, 2018</span>
                                        <a class="post-meta-item" href="blog-post-video.html"><i class="ya ya-comment"></i> 49 comments</a>
                                        <span class="post-meta-item"><i class="ya ya-clock"></i> 17 min read</span>
                                    </div>
                                    <p>Ever man are put down his very. And marry may table him avoid. Hard sell it were into it upon. He forbade affixed parties of assured to me windows. Happiness him nor she disposing provision. Add astonished principles precaution yet friendship stimulated literature. State thing might stand one his plate. Offending or extremity therefore so difficult he on provision. Tended depart turned not are.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Post Single</h6>
                        <div class="card-body px-4 pt-4 pb-0">
                            <div class="row">
                                <div class="col-10 mx-auto">
                                    <div class="post post-single">
                                        <div class="post-header">
                                            <h1 class="post-title">New Red Dead Redemption 2 Character Art</h1>
                                            <div class="post-meta">
                                                <span class="post-meta-item"><i class="ya ya-calendar"></i> September 10, 2018</span>
                                                <a class="post-meta-item" href="#comments"><i class="ya ya-comment"></i> 20 comments</a>
                                                <span class="post-meta-item"><i class="ya ya-clock"></i> 5 min read</span>
                                            </div>
                                        </div>
                                        <div class="post-thumbnail">
                                            <img class="post-img" src="https://img.youtube.com/vi/eaW0tYpxyp0/maxresdefault.jpg" alt="">
                                        </div>
                                        <div class="post-body">
                                            <p>Ever man are put down his very. And marry may table him avoid. Hard sell it were into it upon. He forbade affixed parties of assured to me windows. Happiness him nor she disposing provision. Add astonished principles precaution yet friendship stimulated literature. State thing might stand one his plate. Offending or extremity therefore so difficult he on provision. Tended depart turned not are.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="card card-default mb-0">
                                <h6 class="card-header">Tags</h6>
                                <div class="card-body">
                                    <div class="tags">
                                        <a href="#">#playstation4</a>
                                        <a href="#">#anthem</a>
                                        <a href="#">#fps</a>
                                        <a href="#">#upcoming</a>
                                        <a href="#">#gameplay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-default mb-0">
                                <h6 class="card-header">Reactions</h6>
                                <div class="card-body">
                                    <div class="reaction mt-0">
                                        <button class="btn btn-link" type="button"><span class="d-inline-block" ya-svg="awesome" data-toggle="tooltip" title="Awesome"></span> <span class="reaction-count">49</span></button>
                                        <button class="btn btn-link" type="button"><span class="d-inline-block" ya-svg="like" data-toggle="tooltip" title="Like"></span> <span class="reaction-count">88</span></button>
                                        <button class="btn btn-link" type="button"><span class="d-inline-block" ya-svg="sick" data-toggle="tooltip" title="Sick"></span> <span class="reaction-count">15</span></button>
                                        <button class="btn btn-link" type="button"><span class="d-inline-block" ya-svg="angry" data-toggle="tooltip" title="Angry"></span> <span class="reaction-count">13</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
