{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Badge Component</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Badges</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card card-default">
                        <h6 class="card-header">Base Badges</h6>
                        <div class="card-body docs-badge">
                            <span class="badge badge-primary">Primary</span>
                            <span class="badge badge-secondary">Secondary</span>
                            <span class="badge badge-success">Success</span>
                            <span class="badge badge-danger">Danger</span>
                            <span class="badge badge-warning">Warning</span>
                            <span class="badge badge-info">Info</span>
                            <span class="badge badge-light">Light</span>
                            <span class="badge badge-dark">Dark</span>
                            <span class="badge badge-purple">Purple</span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-default">
                        <h6 class="card-header">Pill Badges</h6>
                        <div class="card-body docs-badge">
                            <span class="badge badge-pill badge-primary">Primary</span>
                            <span class="badge badge-pill badge-secondary">Secondary</span>
                            <span class="badge badge-pill badge-success">Success</span>
                            <span class="badge badge-pill badge-danger">Danger</span>
                            <span class="badge badge-pill badge-warning">Warning</span>
                            <span class="badge badge-pill badge-info">Info</span>
                            <span class="badge badge-pill badge-light">Light</span>
                            <span class="badge badge-pill badge-dark">Dark</span>
                            <span class="badge badge-pill badge-purple">Purple</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Links Badges</h6>
                        <div class="card-body">
                            <a href="#" class="badge badge-primary">Primary</a>
                            <a href="#" class="badge badge-secondary">Secondary</a>
                            <a href="#" class="badge badge-success">Success</a>
                            <a href="#" class="badge badge-danger">Danger</a>
                            <a href="#" class="badge badge-warning">Warning</a>
                            <a href="#" class="badge badge-info">Info</a>
                            <a href="#" class="badge badge-light">Light</a>
                            <a href="#" class="badge badge-dark">Dark</a>
                            <a href="#" class="badge badge-purple">Purple</a>
                        </div>
                    </div>

                    <div class="card card-default mb-0">
                        <h6 class="card-header">Social Badges</h6>
                        <div class="card-body docs-badge">
                            <span class="badge badge-facebook">Facebook</span>
                            <span class="badge badge-twitter">Twitter</span>
                            <span class="badge badge-google-plus">Google Plus</span>
                            <span class="badge badge-youtube">Youtube</span>
                            <span class="badge badge-linkedin">Linkedin</span>
                            <span class="badge badge-skype">Skype</span>
                            <span class="badge badge-vk">vk</span>
                            <span class="badge badge-twitch">Twitch</span>
                            <span class="badge badge-steam">Steam</span>
                            <span class="badge badge-discord">Discord</span>
                            <span class="badge badge-dribbble">Dribbble</span>
                            <span class="badge badge-vimeo">Vimeo</span>
                            <span class="badge badge-pinterest">Pinterest</span>
                            <span class="badge badge-instagram">Instagram</span>
                            <span class="badge badge-soundcloud">Soundcloud</span>
                            <span class="badge badge-spotify">Spotify</span>
                            <span class="badge badge-tumblr">Tumblr</span>
                            <span class="badge badge-reddit">Reddit</span>
                            <span class="badge badge-paypal">Paypal</span>
                            <span class="badge badge-wordpress">Wordpress</span>
                            <span class="badge badge-drupal">Drupal</span>
                            <span class="badge badge-joomla">Joomla</span>
                            <span class="badge badge-github">Github</span>
                            <span class="badge badge-slack">Slack</span>
                            <span class="badge badge-windows">Windows</span>
                            <span class="badge badge-linux">Linux</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
