{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Accordions</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Accordions</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="accordion mb-5" id="Example">
                        <div class="accordion-header">Accordion</div>
                        <div class="accordion-item">
                            <a class="accordion-link" href="#collapseExample" data-toggle="collapse" aria-expanded="true" data-target="#collapseExample1" aria-controls="collapseExample1">Where can I purchase the gameforest gaming theme?</a>
                            <div class="collapse show" id="collapseExample1">
                                <p class="accordion-text">Left till here away at to whom past. Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who. Shy celebrated met sentiments she reasonably but. Proposal its disposed eat advanced marriage sociable.</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <a class="accordion-link collapsed" href="#collapseExample2" data-toggle="collapse" aria-expanded="false" data-target="#collapseExample2" aria-controls="collapseExample2">Is it possible to build a gaming website?</a>
                            <div class="collapse" id="collapseExample2">
                                <p class="accordion-text">He into walk roof made tall cold he. Feelings way likewise addition wandered contempt bed indulged. General enquire picture letters garrets on offices of no on. Give lady of they such they sure it. Me containedexplained my education. Vulgar as hearts by garret. Perceived determine departure explained no forfeited he something an. Contrasted dissimilar get joy you instrument out reasonably. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <a class="accordion-link collapsed" href="#collapseExample3" data-toggle="collapse" aria-expanded="false" data-target="#collapseExample3" aria-controls="collapseExample3">Are you planning to add more features?</a>
                            <div class="collapse" id="collapseExample3">
                                <p class="accordion-text">Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion mb-5" id="collapseParent">
                    <div class="accordion-header">Accordion</div>
                        <div class="accordion-item">
                            <a class="accordion-link" href="#collapseParent" data-toggle="collapse" aria-expanded="true" data-target="#collapseParent1" aria-controls="collapseParent1">Where can I purchase the gameforest gaming theme?</a>
                            <div class="collapse show" id="collapseParent1" data-parent="#collapseParent">
                                <p class="accordion-text">Left till here away at to whom past. Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who. Shy celebrated met sentiments she reasonably but. Proposal its disposed eat advanced marriage sociable.</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <a class="accordion-link collapsed" href="#collapseParent2" data-toggle="collapse" aria-expanded="false" data-target="#collapseParent2" aria-controls="collapseParent2">Is it possible to build a gaming website?</a>
                            <div class="collapse" id="collapseParent2" data-parent="#collapseParent">
                                <p class="accordion-text">He into walk roof made tall cold he. Feelings way likewise addition wandered contempt bed indulged. General enquire picture letters garrets on offices of no on. Give lady of they such they sure it. Me containedexplained my education. Vulgar as hearts by garret. Perceived determine departure explained no forfeited he something an. Contrasted dissimilar get joy you instrument out reasonably. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <a class="accordion-link collapsed" href="#collapseParent3" data-toggle="collapse" aria-expanded="false" data-target="#collapseParent3" aria-controls="collapseParent3">Are you planning to add more features?</a>
                            <div class="collapse" id="collapseParent3" data-parent="#collapseParent">
                                <p class="accordion-text">Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. </p>
                            </div>
                        </div>
                    </div>

                   <div class="accordion accordion-default mb-0" id="collapseDefault">
                        <div class="accordion-item">
                            <a class="accordion-link" href="#collapseDefault" data-toggle="collapse" aria-expanded="true" data-target="#collapseDefault1" aria-controls="collapseDefault1">Where can I purchase the gameforest gaming theme?</a>
                            <div class="collapse show" id="collapseDefault1" data-parent="#collapseDefault">
                                <p class="accordion-text">Left till here away at to whom past. Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who. Shy celebrated met sentiments she reasonably but. Proposal its disposed eat advanced marriage sociable.</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <a class="accordion-link collapsed" href="#collapseDefault2" data-toggle="collapse" aria-expanded="false" data-target="#collapseDefault2" aria-controls="collapseDefault2">Is it possible to build a gaming website?</a>
                            <div class="collapse" id="collapseDefault2" data-parent="#collapseDefault">
                                <p class="accordion-text">He into walk roof made tall cold he. Feelings way likewise addition wandered contempt bed indulged. General enquire picture letters garrets on offices of no on. Give lady of they such they sure it. Me containedexplained my education. Vulgar as hearts by garret. Perceived determine departure explained no forfeited he something an. Contrasted dissimilar get joy you instrument out reasonably. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <a class="accordion-link collapsed" href="#collapseDefault3" data-toggle="collapse" aria-expanded="false" data-target="#collapseDefault3" aria-controls="collapseDefault3">Are you planning to add more features?</a>
                            <div class="collapse" id="collapseDefault3" data-parent="#collapseDefault">
                                <p class="accordion-text">Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
