{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Notification</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Notification</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Notify</h6>
                        <div class="card-body">
                            <button class="btn btn-outline" ya-notify ya-title="A simple primary alert—check it out!">Notify me</button>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Alignment</h6>
                        <div class="card-body">
                            <button class="btn btn-outline" ya-notify="align: left" ya-title="A simple primary alert—check it out!">Top left</button>
                            <button class="btn btn-outline" ya-notify="align: right" ya-title="A simple primary alert—check it out!">Top right</button>
                            <button class="btn btn-outline" ya-notify ya-title="A simple primary alert—check it out!">Top center</button>
                            <button class="btn btn-outline" ya-notify="align: bottom-left" ya-title="A simple primary alert—check it out!">Bottom left</button>
                            <button class="btn btn-outline" ya-notify="align: bottom-right" ya-title="A simple primary alert—check it out!">Bottom right</button>
                            <button class="btn btn-outline" ya-notify="align: bottom" ya-title="A simple primary alert—check it out!">Bottom center</button>
                        </div>
                    </div>

                    <div class="card card-default mb-0">
                        <h6 class="card-header">Variations</h6>
                        <div class="card-body">
                            <button class="btn btn-primary" ya-notify ya-title="A simple primary alert—check it out!">Primary</button>
                            <button class="btn btn-secondary" ya-notify="alert: secondary" ya-title="A simple secondary alert—check it out!">Secondary</button>
                            <button class="btn btn-success" ya-notify="alert: success" ya-title="A simple success alert—check it out!">Success</button>
                            <button class="btn btn-danger" ya-notify="alert: danger" ya-title="A simple danger alert—check it out!">Danger</button>
                            <button class="btn btn-warning" ya-notify="alert: warning" ya-title="A simple warning alert—check it out!">Warning</button>
                            <button class="btn btn-info" ya-notify="alert: info" ya-title="A simple info alert—check it out!">Info</button>
                            <button class="btn btn-dark" ya-notify="alert: dark" ya-title="A simple dark alert—check it out!">Dark</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
