{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Input Groups</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Input Groups</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Basic Groups</h6>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="ya ya-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Website" aria-label="Website" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">.yakuthemes.com</span>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">https://yakuthemes.com/</span>
                                </div>
                                <input type="text" class="form-control" id="basic-url" placeholder="username" aria-describedby="basic-addon3">
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Sizing</h6>
                        <div class="card-body">
                            <div class="row">
                                <div class="input-group input-group-lg col">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                </div>

                                <div class="input-group mb-3 col">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="input-group input-group-sm mb-3 col">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Multiple addons</h6>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                    <span class="input-group-text">0.00</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Button addons</h6>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline" type="button" id="button-addon1">Button</button>
                                </div>
                                <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            </div>
                        </div>
                    </div>

                    <div class="card card-default mb-0">
                        <h6 class="card-header">Icon addons</h6>
                        <div class="card-body">
                            <div class="row">
                                <div class="input-group col">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-light btn-icon border-right-0" data-toggle><i class="ya ya-user"></i></button>
                                    </div>
                                    <input type="text" class="form-control pl-2" placeholder="Enter username" aria-label="Example text with icon addon" aria-describedby="button-addon1">
                                </div>

                                <div class="input-group col">
                                    <input type="password" class="form-control" placeholder="Enter password" aria-label="Example text with icon addon" aria-describedby="button-addon1">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-light btn-icon border-left-0" data-toggle><i class="ya ya-lock"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
