{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Columns</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Columns</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">12 columns</div>
                        <div class="card-body px-3">
                            Real sold my in call. Invitation on an advantages collecting. But event old above shy bed noisy. Had sister see wooded favour income has. Stuff rapid since do as hence. Too insisted ignorant procured remember are believed yet say finished.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-8">
                    <div class="card mb-3">
                        <div class="card-header">8 columns</div>
                        <div class="card-body px-3">
                            Oh he decisively impression attachment friendship so if everything. Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-header">4 columns</div>
                        <div class="card-body px-3">
                            So unaffected partiality indulgence dispatched to of celebrated remarkably.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <div class="card mb-3">
                        <div class="card-header">6 columns</div>
                        <div class="card-body px-3">
                            Endeavor bachelor but add eat pleasure doubtful sociable. Age forming covered you entered the examine. Blessing scarcely confined her contempt wondered shy.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mb-3">
                        <div class="card-header">6 columns</div>
                        <div class="card-body px-3">
                            Endeavor bachelor but add eat pleasure doubtful sociable. Age forming covered you entered the examine. Blessing scarcely confined her contempt wondered shy.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-header">4 columns</div>
                        <div class="card-body px-3">
                            Diverted as strictly exertion addition no disposal by stanhill. This call wife do so sigh no gate felt.
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-header">4 columns</div>
                        <div class="card-body px-3">
                            Diverted as strictly exertion addition no disposal by stanhill. This call wife do so sigh no gate felt.
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-header">4 columns</div>
                        <div class="card-body px-3">
                            Diverted as strictly exertion addition no disposal by stanhill. This call wife do so sigh no gate felt.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-3">
                    <div class="card mb-3">
                        <div class="card-header">3 columns</div>
                        <div class="card-body px-3">
                            Attended of on stronger or mr pleasure. Rich four like real yet west get. Felicity in dwelling to drawings.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card mb-3">
                        <div class="card-header">3 columns</div>
                        <div class="card-body px-3">
                            Attended of on stronger or mr pleasure. Rich four like real yet west get. Felicity in dwelling to drawings.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card mb-3">
                        <div class="card-header">3 columns</div>
                        <div class="card-body px-3">
                            Attended of on stronger or mr pleasure. Rich four like real yet west get. Felicity in dwelling to drawings.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card mb-3">
                        <div class="card-header">4 columns</div>
                        <div class="card-body px-3">
                            Attended of on stronger or mr pleasure. Rich four like real yet west get. Felicity in dwelling to drawings.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
