{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Carousel Component</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Carousel</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Carousel</h6>
                        <div class="card-body">
                            <div class="owl-carousel" ya-carousel>
                                <img src="https://img.youtube.com/vi/EW8_OJn9oeE/maxresdefault.jpg" alt="">
                                <img src="https://img.youtube.com/vi/gJ56BJ-Ba9E/maxresdefault.jpg" alt="">
                                <img src="https://img.youtube.com/vi/0SXOB_Msiq8/maxresdefault.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Items</h6>
                        <div class="card-body">
                            <div class="owl-carousel" ya-carousel="items: 3;margin: 10">
                                <img src="https://img.youtube.com/vi/EW8_OJn9oeE/mqdefault.jpg" alt="">
                                <img src="https://img.youtube.com/vi/gJ56BJ-Ba9E/mqdefault.jpg" alt="">
                                <img src="https://img.youtube.com/vi/0SXOB_Msiq8/mqdefault.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="card card-default mb-0">
                        <h6 class="card-header">Video</h6>
                        <div class="card-body">
                            <div class="owl-carousel" ya-carousel>
                                <div ya-embed="https://www.youtube.com/watch?v=EW8_OJn9oeE">
                                    <img src="https://img.youtube.com/vi/EW8_OJn9oeE/maxresdefault.jpg" alt="">
                                </div>
                                <img src="https://img.youtube.com/vi/gJ56BJ-Ba9E/maxresdefault.jpg" alt="">
                                <img src="https://img.youtube.com/vi/0SXOB_Msiq8/maxresdefault.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
