{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Premium icons</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Icons</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Premium icon fonts</h6>
                        <div class="card-body">
                            <div class="alert alert-warning">Included hundred of icons from nucleo premium icon library.</div>
                            <div class="docs-icons">
                                <i class="ya ya-alert" data-toggle="tooltip" title="ya-alert"></i>
                                <i class="ya ya-attachment" data-toggle="tooltip" title="ya-attachment"></i>
                                <i class="ya ya-bar" data-toggle="tooltip" title="ya-bar"></i>
                                <i class="ya ya-bell" data-toggle="tooltip" title="ya-bell"></i>
                                <i class="ya ya-blocks" data-toggle="tooltip" title="ya-blocks"></i>
                                <i class="ya ya-bold-left" data-toggle="tooltip" title="ya-bold-left"></i>
                                <i class="ya ya-bold-right" data-toggle="tooltip" title="ya-bold-right"></i>
                                <i class="ya ya-bold-up" data-toggle="tooltip" title="ya-bold-up"></i>
                                <i class="ya ya-bold-down" data-toggle="tooltip" title="ya-bold-down"></i>
                                <i class="ya ya-bulb" data-toggle="tooltip" title="ya-bulb"></i>
                                <i class="ya ya-calendar" data-toggle="tooltip" title="ya-calendar"></i>
                                <i class="ya ya-camera" data-toggle="tooltip" title="ya-camera"></i>
                                <i class="ya ya-check" data-toggle="tooltip" title="ya-check"></i>
                                <i class="ya ya-check-circle" data-toggle="tooltip" title="ya-check-circle"></i>
                                <i class="ya ya-clock" data-toggle="tooltip" title="ya-clock"></i>
                                <i class="ya ya-code" data-toggle="tooltip" title="ya-code"></i>
                                <i class="ya ya-comment" data-toggle="tooltip" title="ya-comment"></i>
                                <i class="ya ya-comments" data-toggle="tooltip" title="ya-comments"></i>
                                <i class="ya ya-content" data-toggle="tooltip" title="ya-content"></i>
                                <i class="ya ya-credit-card" data-toggle="tooltip" title="ya-credit-card"></i>
                                <i class="ya ya-delivery" data-toggle="tooltip" title="ya-delivery"></i>
                                <i class="ya ya-download" data-toggle="tooltip" title="ya-download"></i>
                                <i class="ya ya-edit" data-toggle="tooltip" title="ya-edit"></i>
                                <i class="ya ya-email" data-toggle="tooltip" title="ya-email"></i>
                                <i class="ya ya-eye" data-toggle="tooltip" title="ya-eye"></i>
                                <i class="ya ya-eye-closed" data-toggle="tooltip" title="ya-eye-closed"></i>
                                <i class="ya ya-flag" data-toggle="tooltip" title="ya-flag"></i>
                                <i class="ya ya-folder" data-toggle="tooltip" title="ya-folder"></i>
                                <i class="ya ya-gear" data-toggle="tooltip" title="ya-gear"></i>
                                <i class="ya ya-heart" data-toggle="tooltip" title="ya-heart"></i>
                                <i class="ya ya-heart-add" data-toggle="tooltip" title="ya-heart-add"></i>
                                <i class="ya ya-heart-o" data-toggle="tooltip" title="ya-heart-o"></i>
                                <i class="ya ya-helmet" data-toggle="tooltip" title="ya-helmet"></i>
                                <i class="ya ya-help" data-toggle="tooltip" title="ya-help"></i>
                                <i class="ya ya-help-circle" data-toggle="tooltip" title="ya-help-circle"></i>
                                <i class="ya ya-hide" data-toggle="tooltip" title="ya-hide"></i>
                                <i class="ya ya-image" data-toggle="tooltip" title="ya-image"></i>
                                <i class="ya ya-image-add" data-toggle="tooltip" title="ya-image-add"></i>
                                <i class="ya ya-like" data-toggle="tooltip" title="ya-like"></i>
                                <i class="ya ya-link" data-toggle="tooltip" title="ya-link"></i>
                                <i class="ya ya-list" data-toggle="tooltip" title="ya-list"></i>
                                <i class="ya ya-lock" data-toggle="tooltip" title="ya-lock"></i>
                                <i class="ya ya-login" data-toggle="tooltip" title="ya-login"></i>
                                <i class="ya ya-logout" data-toggle="tooltip" title="ya-logout"></i>
                                <i class="ya ya-mark" data-toggle="tooltip" title="ya-mark"></i>
                                <i class="ya ya-menu" data-toggle="tooltip" title="ya-menu"></i>
                                <i class="ya ya-message" data-toggle="tooltip" title="ya-message"></i>
                                <i class="ya ya-minus" data-toggle="tooltip" title="ya-minus"></i>
                                <i class="ya ya-cash" data-toggle="tooltip" title="ya-cash"></i>
                                <i class="ya ya-next" data-toggle="tooltip" title="ya-next"></i>
                                <i class="ya ya-note" data-toggle="tooltip" title="ya-note"></i>
                                <i class="ya ya-pen" data-toggle="tooltip" title="ya-pen"></i>
                                <i class="ya ya-pen-2" data-toggle="tooltip" title="ya-pen-2"></i>
                                <i class="ya ya-photo" data-toggle="tooltip" title="ya-photo"></i>
                                <i class="ya ya-pin" data-toggle="tooltip" title="ya-pin"></i>
                                <i class="ya ya-pin-add" data-toggle="tooltip" title="ya-pin-add"></i>
                                <i class="ya ya-play" data-toggle="tooltip" title="ya-play"></i>
                                <i class="ya ya-player" data-toggle="tooltip" title="ya-player"></i>
                                <i class="ya ya-plus" data-toggle="tooltip" title="ya-plus"></i>
                                <i class="ya ya-print" data-toggle="tooltip" title="ya-print"></i>
                                <i class="ya ya-random" data-toggle="tooltip" title="ya-random"></i>
                                <i class="ya ya-ranking" data-toggle="tooltip" title="ya-ranking"></i>
                                <i class="ya ya-refresh" data-toggle="tooltip" title="ya-refresh"></i>
                                <i class="ya ya-reply" data-toggle="tooltip" title="ya-reply"></i>
                                <i class="ya ya-reply-all" data-toggle="tooltip" title="ya-reply-all"></i>
                                <i class="ya ya-resize" data-toggle="tooltip" title="ya-resize"></i>
                                <i class="ya ya-save" data-toggle="tooltip" title="ya-save"></i>
                                <i class="ya ya-search" data-toggle="tooltip" title="ya-search"></i>
                                <i class="ya ya-share" data-toggle="tooltip" title="ya-share"></i>
                                <i class="ya ya-shopping-cart" data-toggle="tooltip" title="ya-shopping-cart"></i>
                                <i class="ya ya-small-left" data-toggle="tooltip" title="ya-small-left"></i>
                                <i class="ya ya-small-right" data-toggle="tooltip" title="ya-small-right"></i>
                                <i class="ya ya-caret-down" data-toggle="tooltip" title="ya-caret-down"></i>
                                <i class="ya ya-star" data-toggle="tooltip" title="ya-star"></i>
                                <i class="ya ya-star-add" data-toggle="tooltip" title="ya-star-add"></i>
                                <i class="ya ya-star-o" data-toggle="tooltip" title="ya-star-o"></i>
                                <i class="ya ya-stock" data-toggle="tooltip" title="ya-stock"></i>
                                <i class="ya ya-table" data-toggle="tooltip" title="ya-table"></i>
                                <i class="ya ya-tag" data-toggle="tooltip" title="ya-tag"></i>
                                <i class="ya ya-time-alarm" data-toggle="tooltip" title="ya-time-alarm"></i>
                                <i class="ya ya-times" data-toggle="tooltip" title="ya-times"></i>
                                <i class="ya ya-times-circle" data-toggle="tooltip" title="ya-times-circle"></i>
                                <i class="ya ya-trash" data-toggle="tooltip" title="ya-trash"></i>
                                <i class="ya ya-unlock" data-toggle="tooltip" title="ya-unlock"></i>
                                <i class="ya ya-user" data-toggle="tooltip" title="ya-user"></i>
                                <i class="ya ya-user-add" data-toggle="tooltip" title="ya-user-add"></i>
                                <i class="ya ya-users" data-toggle="tooltip" title="ya-users"></i>
                                <i class="ya ya-video" data-toggle="tooltip" title="ya-video"></i>
                                <i class="ya ya-world" data-toggle="tooltip" title="ya-world"></i>
                                <i class="ya ya-paypal" data-toggle="tooltip" title="ya-paypal"></i>
                                <i class="ya ya-github" data-toggle="tooltip" title="ya-github"></i>
                                <i class="ya ya-facebook" data-toggle="tooltip" title="ya-facebook"></i>
                                <i class="ya ya-instagram" data-toggle="tooltip" title="ya-instagram"></i>
                                <i class="ya ya-twitch" data-toggle="tooltip" title="ya-twitch"></i>
                                <i class="ya ya-twitter" data-toggle="tooltip" title="ya-twitter"></i>
                                <i class="ya ya-discord" data-toggle="tooltip" title="ya-discord"></i>
                                <i class="ya ya-youtube" data-toggle="tooltip" title="ya-youtube"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="card card-default">
                                <h6 class="card-header">Sizes</h6>
                                <div class="card-body">
                                    <i class="ya ya-helmet mr-3"></i>
                                    <i class="ya ya-helmet ya-md mr-3" data-toggle="tooltip" title=".ya-md"></i>
                                    <i class="ya ya-helmet ya-lg mr-3" data-toggle="tooltip" title=".ya-lg"></i>
                                    <i class="ya ya-helmet ya-xl" data-toggle="tooltip" title=".ya-xl"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-default">
                                <h6 class="card-header">SVG Icon</h6>
                                <div class="card-body">
                                    <span class="d-inline-block" ya-svg="awesome" data-toggle="tooltip" title="awesome"></span>
                                    <span class="d-inline-block" ya-svg="like" data-toggle="tooltip" title="like"></span>
                                    <span class="d-inline-block" ya-svg="sick" data-toggle="tooltip" title="sick"></span>
                                    <span class="d-inline-block" ya-svg="angry" data-toggle="tooltip" title="angry"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default mb-0">
                        <h6 class="card-header">FontAwesome 5</h6>
                        <div class="card-body">
                            <div class="alert alert-info">Fontawesome stylesheet will be added automatically to the header when we use an icon. Check the icon library for more examples.</div>
                            <a class="btn btn-primary" href="https://fontawesome.com/icons?d=gallery&amp;m=free" target="_blank">Open Fontawesome icons</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
