{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Columns</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Columns</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row mb-4">
                        <div class="col-12">
                            <h5 class="mb-3">12 columns</h5>
                            <p>Men received far his dashwood subjects new. My sufficient surrounded an companions dispatched in on. Connection too unaffected expression led son possession. New smiling friends and her another. Leaf she does none love high yet. Snug love will up bore as be. Pursuit man son musical general pointed. It surprise informed mr advanced do outweigh.</p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-8">
                            <h5 class="mb-3">8 columns</h5>
                            <p>Death there mirth way the noisy merit. Piqued shy spring nor six though mutual living ask extent. Replying of dashwood advanced ladyship smallest disposal or. Attempt offices own improve now see. Called person are around county talked her esteem. Those fully these way nay thing seems. </p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-3">4 columns</h5>
                            <p>Lose away off why half led have near bed. At engage simple father of period others except. My giving do summer.</p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-6">
                            <h5 class="mb-3">6 columns</h5>
                            <p>Left till here away at to whom past. Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who. Marry of am do avoid ample as.</p>
                        </div>
                        <div class="col-6">
                            <h5 class="mb-3">6 columns</h5>
                            <p>Left till here away at to whom past. Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who. Marry of am do avoid ample as.</p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-4">
                            <h5 class="mb-3">4 columns</h5>
                            <p>Eat imagine you chiefly few end ferrars compass. Be visitor females am ferrars inquiry. Latter law remark two lively thrown.</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-3">4 columns</h5>
                            <p>Eat imagine you chiefly few end ferrars compass. Be visitor females am ferrars inquiry. Latter law remark two lively thrown.</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-3">4 columns</h5>
                            <p>Eat imagine you chiefly few end ferrars compass. Be visitor females am ferrars inquiry. Latter law remark two lively thrown.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <h5 class="mb-3">3 columns</h5>
                            <p>Attended of on stronger or mr pleasure. Rich four like real yet west get. Felicity in dwelling to drawings.</p>
                        </div>
                        <div class="col-3">
                            <h5 class="mb-3">3 columns</h5>
                            <p>Attended of on stronger or mr pleasure. Rich four like real yet west get. Felicity in dwelling to drawings.</p>
                        </div>
                        <div class="col-3">
                            <h5 class="mb-3">3 columns</h5>
                            <p>Attended of on stronger or mr pleasure. Rich four like real yet west get. Felicity in dwelling to drawings.</p>
                        </div>
                        <div class="col-3">
                            <h5 class="mb-3">3 columns</h5>
                            <p>Attended of on stronger or mr pleasure. Rich four like real yet west get. Felicity in dwelling to drawings.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
