{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Social Component</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Social</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Social buttons</h6>
                        <div class="card-body docs-btn">
                            <a class="btn btn-social btn-facebook" href="#" role="button">Facebook</a>
                            <a class="btn btn-social btn-twitter" href="#" role="button">Twitter</a>
                            <a class="btn btn-social btn-google-plus" href="#" role="button">Google Plus</a>
                            <a class="btn btn-social btn-youtube" href="#" role="button">Youtube</a>
                            <a class="btn btn-social btn-linkedin" href="#" role="button">Linkedin</a>
                            <a class="btn btn-social btn-skype" href="#" role="button">Skype</a>
                            <a class="btn btn-social btn-vk" href="#" role="button">vk</a>
                            <a class="btn btn-social btn-twitch" href="#" role="button">Twitch</a>
                            <a class="btn btn-social btn-steam" href="#" role="button">Steam</a>
                            <a class="btn btn-social btn-dribbble" href="#" role="button">Dribbble</a>
                            <a class="btn btn-social btn-vimeo" href="#" role="button">Vimeo</a>
                            <a class="btn btn-social btn-pinterest" href="#" role="button">Pinterest</a>
                            <a class="btn btn-social btn-instagram" href="#" role="button">Instagram</a>
                            <a class="btn btn-social btn-soundcloud" href="#" role="button">Soundcloud</a>
                            <a class="btn btn-social btn-spotify" href="#" role="button">Spotify</a>
                            <a class="btn btn-social btn-tumblr" href="#" role="button">Tumblr</a>
                            <a class="btn btn-social btn-reddit" href="#" role="button">Reddit</a>
                            <a class="btn btn-social btn-paypal" href="#" role="button">Paypal</a>
                            <a class="btn btn-social btn-wordpress" href="#" role="button">Wordpress</a>
                            <a class="btn btn-social btn-drupal" href="#" role="button">Drupal</a>
                            <a class="btn btn-social btn-joomla" href="#" role="button">Joomla</a>
                            <a class="btn btn-social btn-github" href="#" role="button">Github</a>
                            <a class="btn btn-social btn-slack" href="#" role="button">Slack</a>
                            <a class="btn btn-social btn-windows" href="#" role="button">Windows</a>
                            <a class="btn btn-social btn-linux" href="#" role="button">Linux</a>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Button Icons</h6>
                        <div class="card-body docs-btn">
                            <a class="btn btn-social btn-facebook btn-icon-left" href="#" role="button"><i class="fab fa-facebook-f"></i> Facebook</a>
                            <a class="btn btn-social btn-twitter btn-icon-left" href="#" role="button"><i class="fab fa-twitter"></i> Twitter</a>
                            <a class="btn btn-social btn-google-plus btn-icon-left" href="#" role="button"><i class="fab fa-google-plus-g"></i> Google Plus</a>
                            <a class="btn btn-social btn-youtube btn-icon-left" href="#" role="button"><i class="fab fa-youtube"></i> Youtube</a>
                            <a class="btn btn-social btn-linkedin btn-icon-left" href="#" role="button"><i class="fab fa-linkedin-in"></i> Linkedin</a>
                            <a class="btn btn-social btn-skype btn-icon-left" href="#" role="button"><i class="fab fa-skype"></i> Skype</a>
                            <a class="btn btn-social btn-vk btn-icon-left" href="#" role="button"><i class="fab fa-vk"></i> vk</a>
                            <a class="btn btn-social btn-twitch btn-icon-left" href="#" role="button"><i class="fab fa-twitch"></i> Twitch</a>
                            <a class="btn btn-social btn-steam btn-icon-left" href="#" role="button"><i class="fab fa-steam-symbol"></i> Steam</a>
                            <a class="btn btn-social btn-discord btn-icon-left" href="#" role="button"><i class="fab fa-discord"></i> Discord</a>
                            <a class="btn btn-social btn-dribbble btn-icon-left" href="#" role="button"><i class="fab fa-dribbble"></i> Dribbble</a>
                            <a class="btn btn-social btn-vimeo btn-icon-left" href="#" role="button"><i class="fab fa-vimeo-v"></i> Vimeo</a>
                            <a class="btn btn-social btn-pinterest btn-icon-left" href="#" role="button"><i class="fab fa-pinterest"></i> Pinterest</a>
                            <a class="btn btn-social btn-instagram btn-icon-left" href="#" role="button"><i class="fab fa-instagram"></i> Instagram</a>
                            <a class="btn btn-social btn-soundcloud btn-icon-left" href="#" role="button"><i class="fab fa-soundcloud"></i> Soundcloud</a>
                            <a class="btn btn-social btn-spotify btn-icon-left" href="#" role="button"><i class="fab fa-spotify"></i> Spotify</a>
                            <a class="btn btn-social btn-tumblr btn-icon-left" href="#" role="button"><i class="fab fa-tumblr"></i> Tumblr</a>
                            <a class="btn btn-social btn-reddit btn-icon-left" href="#" role="button"><i class="fab fa-reddit"></i> Reddit</a>
                            <a class="btn btn-social btn-paypal btn-icon-left" href="#" role="button"><i class="fab fa-paypal"></i> Paypal</a>
                            <a class="btn btn-social btn-wordpress btn-icon-left" href="#" role="button"><i class="fab fa-wordpress"></i> Wordpress</a>
                            <a class="btn btn-social btn-drupal btn-icon-left" href="#" role="button"><i class="fab fa-drupal"></i> Drupal</a>
                            <a class="btn btn-social btn-joomla btn-icon-left" href="#" role="button"><i class="fab fa-joomla"></i> Joomla</a>
                            <a class="btn btn-social btn-github btn-icon-left" href="#" role="button"><i class="fab fa-github"></i> Github</a>
                            <a class="btn btn-social btn-slack btn-icon-left" href="#" role="button"><i class="fab fa-slack"></i> Slack</a>
                            <a class="btn btn-social btn-windows btn-icon-left" href="#" role="button"><i class="fab fa-windows"></i> Windows</a>
                            <a class="btn btn-social btn-linux btn-icon-left" href="#" role="button"><i class="fab fa-linux"></i> Linux</a>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Social icons</h6>
                        <div class="card-body docs-btn">
                            <a class="btn btn-social btn-facebook btn-icon" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-social btn-twitter btn-icon" href="#" role="button"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-social btn-google-plus btn-icon" href="#" role="button"><i class="fab fa-google-plus-g"></i></a>
                            <a class="btn btn-social btn-youtube btn-icon" href="#" role="button"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-social btn-linkedin btn-icon" href="#" role="button"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-social btn-skype btn-icon" href="#" role="button"><i class="fab fa-skype"></i></a>
                            <a class="btn btn-social btn-vk btn-icon" href="#" role="button"><i class="fab fa-vk"></i></a>
                            <a class="btn btn-social btn-twitch btn-icon" href="#" role="button"><i class="fab fa-twitch"></i></a>
                            <a class="btn btn-social btn-steam btn-icon" href="#" role="button"><i class="fab fa-steam-symbol"></i></a>
                            <a class="btn btn-social btn-dribbble btn-icon" href="#" role="button"><i class="fab fa-dribbble"></i></a>
                            <a class="btn btn-social btn-vimeo btn-icon" href="#" role="button"><i class="fab fa-vimeo-v"></i></a>
                            <a class="btn btn-social btn-pinterest btn-icon" href="#" role="button"><i class="fab fa-pinterest"></i></a>
                            <a class="btn btn-social btn-instagram btn-icon" href="#" role="button"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-social btn-soundcloud btn-icon" href="#" role="button"><i class="fab fa-soundcloud"></i></a>
                            <a class="btn btn-social btn-spotify btn-icon" href="#" role="button"><i class="fab fa-spotify"></i></a>
                            <a class="btn btn-social btn-tumblr btn-icon" href="#" role="button"><i class="fab fa-tumblr"></i></a>
                            <a class="btn btn-social btn-reddit btn-icon" href="#" role="button"><i class="fab fa-reddit"></i></a>
                            <a class="btn btn-social btn-paypal btn-icon" href="#" role="button"><i class="fab fa-paypal"></i></a>
                            <a class="btn btn-social btn-wordpress btn-icon" href="#" role="button"><i class="fab fa-wordpress"></i></a>
                            <a class="btn btn-social btn-drupal btn-icon" href="#" role="button"><i class="fab fa-drupal"></i></a>
                            <a class="btn btn-social btn-joomla btn-icon" href="#" role="button"><i class="fab fa-joomla"></i></a>
                            <a class="btn btn-social btn-github btn-icon" href="#" role="button"><i class="fab fa-github"></i></a>
                            <a class="btn btn-social btn-slack btn-icon" href="#" role="button"><i class="fab fa-slack"></i></a>
                            <a class="btn btn-social btn-windows btn-icon" href="#" role="button"><i class="fab fa-windows"></i></a>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Social effects</h6>
                        <div class="card-body docs-btn">
                            <a class="btn btn-social btn-facebook btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-facebook-f"></i><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-social btn-twitter btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-twitter"></i><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-social btn-google-plus btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-google-plus-g"></i><i class="fab fa-google-plus-g"></i></a>
                            <a class="btn btn-social btn-youtube btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-youtube"></i><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-social btn-linkedin btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-linkedin-in"></i><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-social btn-skype btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-skype"></i><i class="fab fa-skype"></i></a>
                            <a class="btn btn-social btn-vk btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-vk"></i><i class="fab fa-vk"></i></a>
                            <a class="btn btn-social btn-twitch btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-twitch"></i><i class="fab fa-twitch"></i></a>
                            <a class="btn btn-social btn-steam btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-steam-symbol"></i><i class="fab fa-steam-symbol"></i></a>
                            <a class="btn btn-social btn-dribbble btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-dribbble"></i><i class="fab fa-dribbble"></i></a>
                            <a class="btn btn-social btn-vimeo btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-vimeo-v"></i><i class="fab fa-vimeo-v"></i></a>
                            <a class="btn btn-social btn-pinterest btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-pinterest"></i><i class="fab fa-pinterest"></i></a>
                            <a class="btn btn-social btn-instagram btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-instagram"></i><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-social btn-soundcloud btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-soundcloud"></i><i class="fab fa-soundcloud"></i></a>
                            <a class="btn btn-social btn-spotify btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-spotify"></i><i class="fab fa-spotify"></i></a>
                            <a class="btn btn-social btn-tumblr btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-tumblr"></i><i class="fab fa-tumblr"></i></a>
                            <a class="btn btn-social btn-reddit btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-reddit"></i><i class="fab fa-reddit"></i></a>
                            <a class="btn btn-social btn-paypal btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-paypal"></i><i class="fab fa-paypal"></i></a>
                            <a class="btn btn-social btn-wordpress btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-wordpress"></i><i class="fab fa-wordpress"></i></a>
                            <a class="btn btn-social btn-drupal btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-drupal"></i><i class="fab fa-drupal"></i></a>
                            <a class="btn btn-social btn-joomla btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-joomla"></i><i class="fab fa-joomla"></i></a>
                            <a class="btn btn-social btn-github btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-github"></i><i class="fab fa-github"></i></a>
                            <a class="btn btn-social btn-slack btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-slack"></i><i class="fab fa-slack"></i></a>
                            <a class="btn btn-social btn-windows btn-icon btn-default btn-effect" href="#" role="button"><i class="fab fa-windows"></i><i class="fab fa-windows"></i></a>
                        </div>
                    </div>


                    <div class="card card-default">
                        <h6 class="card-header">Social links</h6>
                        <div class="card-body docs-btn">
                            <a class="btn btn-social btn-facebook btn-link" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-social btn-twitter btn-link" href="#" role="button"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-social btn-google-plus btn-link" href="#" role="button"><i class="fab fa-google-plus-g"></i></a>
                            <a class="btn btn-social btn-youtube btn-link" href="#" role="button"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-social btn-linkedin btn-link" href="#" role="button"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-social btn-skype btn-link" href="#" role="button"><i class="fab fa-skype"></i></a>
                            <a class="btn btn-social btn-vk btn-link" href="#" role="button"><i class="fab fa-vk"></i></a>
                            <a class="btn btn-social btn-twitch btn-link" href="#" role="button"><i class="fab fa-twitch"></i></a>
                            <a class="btn btn-social btn-steam btn-link" href="#" role="button"><i class="fab fa-steam-symbol"></i></a>
                            <a class="btn btn-social btn-dribbble btn-link" href="#" role="button"><i class="fab fa-dribbble"></i></a>
                            <a class="btn btn-social btn-vimeo btn-link" href="#" role="button"><i class="fab fa-vimeo-v"></i></a>
                            <a class="btn btn-social btn-pinterest btn-link" href="#" role="button"><i class="fab fa-pinterest"></i></a>
                            <a class="btn btn-social btn-instagram btn-link" href="#" role="button"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-social btn-soundcloud btn-link" href="#" role="button"><i class="fab fa-soundcloud"></i></a>
                            <a class="btn btn-social btn-spotify btn-link" href="#" role="button"><i class="fab fa-spotify"></i></a>
                            <a class="btn btn-social btn-tumblr btn-link" href="#" role="button"><i class="fab fa-tumblr"></i></a>
                            <a class="btn btn-social btn-reddit btn-link" href="#" role="button"><i class="fab fa-reddit"></i></a>
                            <a class="btn btn-social btn-paypal btn-link" href="#" role="button"><i class="fab fa-paypal"></i></a>
                            <a class="btn btn-social btn-wordpress btn-link" href="#" role="button"><i class="fab fa-wordpress"></i></a>
                            <a class="btn btn-social btn-drupal btn-link" href="#" role="button"><i class="fab fa-drupal"></i></a>
                            <a class="btn btn-social btn-joomla btn-link" href="#" role="button"><i class="fab fa-joomla"></i></a>
                            <a class="btn btn-social btn-github btn-link" href="#" role="button"><i class="fab fa-github"></i></a>
                            <a class="btn btn-social btn-slack btn-link" href="#" role="button"><i class="fab fa-slack"></i></a>
                            <a class="btn btn-social btn-windows btn-link" href="#" role="button"><i class="fab fa-windows"></i></a>
                            <a class="btn btn-social btn-linux btn-link" href="#" role="button"><i class="fab fa-linux"></i></a>
                        </div>
                    </div>

                    <div class="card card-default mb-0">
                        <h6 class="card-header">Social blocks</h6>
                        <div class="card-body docs-btn">
                            <div class="row row-xs">
                                <div class="col-lg-4">
                                    <a class="btn btn-social btn-facebook btn-block" href="#" role="button"><i class="ya ya-facebook"></i> connect with facebook</a>
                                </div>
                                <div class="col-lg-4">
                                    <a class="btn btn-social btn-twitch btn-block" href="#" role="button"><i class="ya ya-twitch"></i> connect with twitch</a>
                                </div>
                                <div class="col-lg-4">
                                    <a class="btn btn-social btn-github btn-block" href="#" role="button"><i class="ya ya-github"></i> connect with github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
