{% extends "base.twig" %}

{% block css %}
    <link rel="stylesheet" href="plugins/flatpickr/flatpickr.min.css">
{% endblock %}

{% block js %}
    <script src="plugins/flatpickr/flatpickr.min.js"></script>
    <script>
        $(function() {
            $(".datepicker").flatpickr({allowInput:true});
            $(".datetimepicker").flatpickr({allowInput:true,enableTime: true, dateFormat: "Y-m-d H:i"});
            $(".inlinepicker").flatpickr({allowInput:true,inline: true});
            $(".timepicker").flatpickr({allowInput:true,enableTime: true, noCalendar: true, dateFormat: "H:i"});
            $(".custompicker").flatpickr({allowInput:true, wrap: true});
        });
    </script>
{% endblock %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h>Datepicker</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Datepicker</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-6">
                            <div class="card card-default">
                                <h6 class="card-header">Basic</h6>
                                <div class="card-body">
                                    <input type="text" class="form-control datepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-default">
                                <h6 class="card-header">DateTime</h6>
                                <div class="card-body">
                                    <input type="text" class="form-control datetimepicker">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Inline calendar</h6>
                        <div class="card-body">
                            <input type="text" class="form-control inlinepicker">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="card card-default mb-0">
                                <h6 class="card-header">Time Picker</h6>
                                <div class="card-body">
                                    <input type="text" class="form-control timepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-default mb-0">
                                <h6 class="card-header">Custom selector</h6>
                                <div class="card-body">
                                    <div class="input-group custompicker">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-light btn-icon border-right-0" data-toggle><i class="ya ya-calendar"></i></button>
                                        </div>
                                        <input type="text" class="form-control" id="exampleSelect3" data-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
