{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Comments Component</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Comments</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Status</h6>
                        <div class="card-body">
                            <div class="comments mb-3">
                                <div class="media">
                                    <img class="avatar" src="../img/user-3.jpg" alt="">
                                    <span class="badge badge-success badge-status"></span>
                                    <div class="media-body">
                                        <div class="d-flex">
                                            <a class="h6" href="profile.html">Elizabeth</a>
                                            <div class="media-meta">9 hours ago</div>
                                            <div class="media-tools">
                                                <a class="btn btn-link btn-icon btn-xs" href="#" data-toggle="tooltip" title="hide"><i class="ya ya-minus"></i></a>
                                                <a class="btn btn-link btn-icon btn-xs" href="#" data-toggle="tooltip" title="report"><i class="ya ya-flag"></i></a>
                                            </div>
                                        </div>
                                        <p>Attended no do thoughts me on dissuade scarcely. Own are pretty spring suffer old denote his. By proposal speedily mr striking am. But attention sex questions applauded how happiness.</p>
                                        <div class="d-flex align-items-center">
                                            <button class="btn btn-default btn-xs mr-1">Reply</button>
                                            <button class="btn btn-default btn-xs"><i class="ya ya-like ml-0"></i> (96)</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Reply</h6>
                        <div class="card-body pb-4">
                            <div class="comments">
                                <div class="media">
                                    <img class="avatar" src="../img/user-1.jpg" alt="Nathan Drake">
                                    <div class="media-body">
                                        <div class="d-flex">
                                            <div class="d-flex">
                                                <a class="h6" href="profile.html">Nathan Drake</a>
                                                <div class="media-meta">10 hours ago</div>
                                            </div>
                                            <div class="media-tools">
                                                <a class="btn btn-link btn-icon btn-xs" href="#" data-toggle="tooltip" title="hide"><i class="ya ya-minus"></i></a>
                                                <a class="btn btn-link btn-icon btn-xs" href="#" data-toggle="tooltip" title="report"><i class="ya ya-flag"></i></a>
                                            </div>
                                        </div>
                                        <p>Repulsive questions contented him few extensive supported. Of remarkably thoroughly he appearance in. Supposing tolerably applauded or of be. Suffering unfeeling so objection agreeable allowance me of. Ask within entire season sex common far who family.</p>
                                        <div class="d-flex align-items-center">
                                            <button class="btn btn-default btn-xs mr-2">Reply</button>
                                            <button class="btn btn-default btn-xs"><i class="ya ya-like ml-0"></i> (27)</button>
                                        </div>
                                        <div class="media">
                                            <img class="avatar" src="../img/user-4.jpg" alt="Trevor">
                                            <div class="media-body">
                                                <div class="d-flex">
                                                    <div class="d-flex">
                                                        <a class="h6" href="profile.html">Trevor</a>
                                                        <div class="media-meta">14 hours ago</div>
                                                    </div>
                                                    <div class="media-tools">
                                                        <a class="btn btn-link btn-icon btn-xs" href="#" data-toggle="tooltip" title="hide"><i class="ya ya-minus"></i></a>
                                                        <a class="btn btn-link btn-icon btn-xs" href="#" data-toggle="tooltip" title="report"><i class="ya ya-flag"></i></a>
                                                    </div>
                                                </div>
                                                <p>Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves.</p>
                                                <div class="d-flex align-items-center">
                                                    <button class="btn btn-default btn-xs mr-2">Reply</button>
                                                    <button class="btn btn-default btn-xs"><i class="ya ya-like ml-0"></i> (72)</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <img class="avatar" src="../img/user-5.jpg" alt="Clark Kent">
                                            <div class="media-body">
                                                <div class="d-flex">
                                                    <div class="d-flex">
                                                        <a class="h6" href="profile.html">Clark Kent</a>
                                                        <div class="media-meta">15 hours ago</div>
                                                    </div>
                                                    <div class="media-tools">
                                                        <a class="btn btn-link btn-icon btn-xs" href="#" data-toggle="tooltip" title="hide"><i class="ya ya-minus"></i></a>
                                                        <a class="btn btn-link btn-icon btn-xs" href="#" data-toggle="tooltip" title="report"><i class="ya ya-flag"></i></a>
                                                    </div>
                                                </div>
                                                <p>To sorry world an at do spoil along. Incommode he depending do frankness remainder to. Edward day almost active him friend thirty piqued.</p>
                                                <div class="d-flex align-items-center">
                                                    <button class="btn btn-default btn-xs mr-2">Reply</button>
                                                    <button class="btn btn-default btn-xs"><i class="ya ya-like ml-0"></i> (29)</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end .media -->
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Disqus</h6>
                        <div class="card-body">
                            <div class="comments">
                                <div ya-disqus="disqus: gameforest"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default mb-0">
                        <h6 class="card-header">Facebook</h6>
                        <div class="card-body">
                            <div class="comments">
                                <div ya-facebook></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
