{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Buttons Component</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Buttons</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <h6 class="card-header">Basic buttons</h6>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">Primary</button>
                            <button type="button" class="btn btn-secondary">Secondary</button>
                            <button type="button" class="btn btn-success">Success</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                            <button type="button" class="btn btn-warning">Warning</button>
                            <button type="button" class="btn btn-info">Info</button>
                            <button type="button" class="btn btn-dark">Dark</button>
                            <button type="button" class="btn btn-light">Light</button>
                            <button type="button" class="btn btn-default">Default</button>
                            <button type="button" class="btn btn-link">Link</button>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Outline buttons</h6>
                        <div class="card-body">
                            <button type="button" class="btn btn-outline-primary">Primary</button>
                            <button type="button" class="btn btn-outline-secondary">Secondary</button>
                            <button type="button" class="btn btn-outline-success">Success</button>
                            <button type="button" class="btn btn-outline-danger">Danger</button>
                            <button type="button" class="btn btn-outline-warning">Warning</button>
                            <button type="button" class="btn btn-outline-info">Info</button>
                            <button type="button" class="btn btn-outline-dark">Dark</button>
                            <button type="button" class="btn btn-outline-light">Light</button>
                            <button type="button" class="btn btn-outline">Outline</button>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Button tags</h6>
                        <div class="card-body">
                            <a class="btn btn-primary" href="#" role="button">Link</a>
                            <button class="btn btn-primary" type="submit">Button</button>
                            <input class="btn btn-primary" type="button" value="Input">
                            <input class="btn btn-primary" type="submit" value="Submit">
                            <input class="btn btn-primary" type="reset" value="Reset">
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Sizes</h6>
                        <div class="card-body">
                            <button type="button" class="btn btn-outline btn-lg">Large button</button>
                            <button type="button" class="btn btn-outline">Default button</button>
                            <button type="button" class="btn btn-outline btn-sm">Small button</button>
                            <button type="button" class="btn btn-outline btn-xs">Extra small button</button>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Rounded</h6>
                        <div class="card-body">
                            <button type="button" class="btn btn-outline btn-lg btn-rounded">Large button</button>
                            <button type="button" class="btn btn-outline btn-rounded">Default button</button>
                            <button type="button" class="btn btn-outline btn-sm btn-rounded">Small button</button>
                            <button type="button" class="btn btn-outline btn-xs btn-rounded">Extra small button</button>
                        </div>
                    </div>

                    <div class="card card-default">
                        <h6 class="card-header">Icons</h6>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">Primary <i class="ya ya-shopping-cart"></i></button>
                            <button type="button" class="btn btn-success btn-icon-left"><i class="ya ya-check-circle"></i> Success</button>
                            <button type="button" class="btn btn-danger">Danger <i class="ya ya-bell"></i></button>
                            <button type="button" class="btn btn-warning">Warning <i class="ya ya-email"></i></button>
                            <button type="button" class="btn btn-info btn-icon-left"><i class="ya ya-gear"></i> Info</button>
                            <button type="button" class="btn btn-dark btn-icon-left"><i class="ya ya-like"></i> Dark</button>
                            <button type="button" class="btn btn-light btn-icon-left"><i class="ya ya-comments"></i> Light</button>
                            <button type="button" class="btn btn-link btn-icon-left"><i class="ya ya-attachment"></i> Link</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <div class="card card-default">
                                <h6 class="card-header">Icon buttons</h6>
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary btn-icon"><i class="ya ya-shopping-cart"></i></button>
                                    <button type="button" class="btn btn-secondary btn-icon"><i class="ya ya-comments"></i></button>
                                    <button type="button" class="btn btn-success btn-icon"><i class="ya ya-check-circle"></i></button>
                                    <button type="button" class="btn btn-danger btn-icon"><i class="ya ya-bell"></i></button>
                                    <button type="button" class="btn btn-warning btn-icon"><i class="ya ya-email"></i></button>
                                    <button type="button" class="btn btn-info btn-icon"><i class="ya ya-gear"></i></button>
                                    <button type="button" class="btn btn-dark btn-icon"><i class="ya ya-like"></i></button>
                                    <button type="button" class="btn btn-default btn-icon"><i class="ya ya-comment"></i></button>
                                    <button type="button" class="btn btn-link btn-icon"><i class="ya ya-attachment"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="card card-default">
                                <h6 class="card-header">Button labels</h6>
                                <div class="card-body">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary" href="#" role="button">Save game</a>
                                        <a class="btn btn-outline-primary btn-icon" href="#" role="button"><i class="ya ya-save"></i></a>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <a class="btn btn-danger" href="#" role="button">Stream now</a>
                                        <a class="btn btn-outline-danger btn-icon" href="#" role="button"><i class="ya ya-camera"></i></a>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <a class="btn btn-outline btn-icon" href="#" role="button"><i class="ya ya-like"></i></a>
                                        <a class="btn btn-outline" href="#" role="button">342</a>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <a class="btn btn-outline" href="#" role="button">Comments</a>
                                        <a class="btn btn-outline btn-icon" href="#" role="button"><i class="ya ya-comments"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="card card-default">
                                <h6 class="card-header">Button groups</h6>
                                <div class="card-body">
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-icon" href=""><i class="ya ya-small-left"></i></a>
                                        <a class="btn btn-default btn-icon" href=""><i class="ya ya-small-right"></i></a>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-light"><i class="ya ya-list m-0"></i></button>
                                        <button type="button" class="btn btn-light"><i class="ya ya-table m-0"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card card-default">
                                <h6 class="card-header">Button with counts</h6>
                                <div class="card-body">
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-xs btn-count" href="#" role="button"><i class="ya ya-eye"></i> Watch</a>
                                        <a class="btn btn-light btn-xs" href="#" role="button">45</a>
                                    </div>

                                    <div class="btn-group">
                                        <a class="btn btn-default btn-xs btn-count" href="#" role="button"><i class="ya ya-heart-add"></i> Like</a>
                                        <a class="btn btn-light btn-xs" href="#" role="button">138</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card card-default">
                                <h6 class="card-header">States</h6>
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary" disabled>Disabled button</button>
                                    <a href="#" class="btn btn-primary active" role="button" aria-pressed="true">Active button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mb-0">
                        <h6 class="card-header">Block buttons</h6>
                        <div class="card-body">
                            <a class="btn btn-primary btn-block" href="#" role="button">Block button</a>
                            <a class="btn btn-dark btn-block btn-sm" href="#" role="button">Small block button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
