{% extends "base.twig" %}

{% block css %}
    <link rel="stylesheet" href="plugins/bootstrap-select/css/bootstrap-select.min.css">
{% endblock %}

{% block js %}
    <script src="plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block body %}
    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto">
                    <div class="heading">
                        <i class="ya ya-email"></i>
                        <h2 class="heading-title h1">Get in touch with us</h2>
                        <p class="heading-text">Prepared do an dissuade be so whatever steepest. Yet her beyond looked either day wished nay. By doubtful disposed do juvenile an</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10 mx-auto">
                    <div class="alert alert-success fade show mb-4" role="alert">
                        <strong>Success!</strong> We received your message and will be get in touch with you soon!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="card card-default mb-4">
                            <h6 class="card-header">Contact Us</h6>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ya ya-user"></i></span>
                                        </div>
                                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <small id="emailHelp" class="form-text text-muted">We’ll never share your email with anyone else.</small>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" placeholder="Enter your name">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="subject">Subject</label>
                                            <select id="subject" class="selectpicker w-100" data-live-search="true">
                                                <option>Select</option>
                                                <option>General</option>
                                                <option>Partnership</option>
                                                <option>Report Bug</option>
                                                <option>Support</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" id="message" aria-describedby="messageHelp" rows="5"></textarea>
                                    <small id="messageHelp" class="form-text text-muted">Give lady of they such they sure it. Me contained explained my education. Vulgar as hearts by garret. Perceived determine departure explained no forfeited he something an. </small>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Accept terms of services.</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-purple py-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="promo py-3">
                        <h2 class="promo-title h5 mr-4">Build your professional gaming website with Gameforest</h2>
                        <a class="btn btn-outline-light btn-sm" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase Now <i class="ya ya-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
