{% extends "base.twig" %}

{% block js %}
    <script src="plugins/parallax/parallax.min.js"></script>
{% endblock %}

{% block body %}
    <section class="overflow-hidden py-8" data-parallax="scroll" data-image-src="https://static.giantbomb.com/uploads/original/0/5370/2791736-7947254676-Star_.jpg">
        <div class="overlay" ya-style="background-color: #36373a;opacity: .9"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="display-3 text-white mb-3">Get in touch with us</h2>
                    <p class="h5 font-weight-light text-light mb-0">We’ll get back to you as soon as possible.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <form>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control form-control-lg" id="email" placeholder="Enter email">
                            <small class="form-text text-muted">We’ll never share your email with anyone else.</small>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control form-control-lg" id="name" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <select class="form-control form-control-lg" id="subject">
                                        <option>Select</option>
                                        <option>General</option>
                                        <option>Partnership</option>
                                        <option>Report Bug</option>
                                        <option>Support</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control form-control-lg" id="message" rows="5"></textarea>
                            <small class="form-text text-muted">Give lady of they such they sure it. Me contained explained my education. Vulgar as hearts by garret.</small>
                        </div>
                        <div class="form-group mb-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Accept terms of services.</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline btn-lg mt-4">Send message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary py-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="promo">
                        <h2 class="promo-title h5 mr-4">Build your professional gaming website with Gameforest</h2>
                        <a class="btn btn-outline-light btn-sm" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase Now <i class="ya ya-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
