{% extends "base.twig" %}

{% block js %}
    <script src="plugins/lazysizes/lazysizes.min.js"></script>
{% endblock %}

{% block body %}
    <section class="bg-image text-white bg-dark py-7" ya-style="background-color: #373738">
        <img class="background" src="https://static.giantbomb.com/uploads/original/5/56742/3053500-3816122442-rdr2-.jpg" alt="" ya-style="opacity: .25">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-10">
                    <h1 class="display-6 text-white font-weight-bold mb-3">Red Dead Redemption 2</h1>
                    <p class="text-light">Red Dead Redemption 2 is an epic tale of life in America’s unforgiving heartland. The game's vast and atmospheric world also provides the foundation for a brand...</p>
                    <div class="mt-4 pt-2">
                        <a class="btn btn-primary btn-shadow btn-rounded btn-lg" href="#" role="button">Open Gallery</a>
                        <a class="btn btn-outline-light btn-rounded ml-2 btn-lg" href="#" role="button">Upload Image <i class="ya ya-image-add"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white border-bottom py-0" ya-sticky>
        <div class="container">
            <div class="row">
                <div class="col d-flex align-items-center">
                    <div class="nav nav-list">
                        <a class="nav-item nav-link" href="#">Red Dead Redemption 2</a>
                        <a class="nav-item nav-link" href="#">Reviews (14)</a>
                        <a class="nav-item nav-link active" href="#">Images</a>
                        <a class="nav-item nav-link" href="#">Videos (8)</a>
                        <a class="nav-item nav-link" href="#">Streams</a>
                        <a class="nav-item nav-link" href="#">Forums</a>
                        <a class="nav-item nav-link" href="#">Shop</a>
                    </div>
                    <div class="btn-group ml-auto mr-2">
                        <a class="btn btn-default btn-icon" href=""><i class="ya ya-small-left"></i></a>
                        <a class="btn btn-default btn-icon" href=""><i class="ya ya-small-right"></i></a>
                    </div>
                    <a class="btn btn-default btn-icon" href=""><i class="ya ya-gear"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="border-bottom-dashed">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="form-inline">
                        <button class="btn btn-light mr-2" type="button" name="button" data-toggle="tooltip" title="refresh" data-placement="bottom"><i class="ya ya-refresh ml-0"></i></button>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-inline" placeholder="Search in gallery...">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-light border-left-0"><i class="ya ya-search m-0"></i></button>
                            </div>
                        </div>
                        <div class="dropdown ml-auto">
                            <button class="btn btn-light btn-icon-left dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Recent Images
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item active" href="#">Recent</a>
                                <a class="dropdown-item" href="#">Oldest</a>
                                <a class="dropdown-item" href="#">Popular</a>
                                <a class="dropdown-item" href="#">Random</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-light ml-2" data-toggle="tooltip" title="random" data-placement="bottom"><i class="ya ya-random m-0"></i></button>
                        <div class="btn-group ml-2" role="group">
                            <button type="button" class="btn btn-light"><i class="ya ya-list m-0"></i></button>
                            <button type="button" class="btn btn-light"><i class="ya ya-table m-0"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row row-sm">
                {% for img in gallery %}
                    <div class="col-4">
                        <figure class="figure">
                            <a href="{{ img.image }}" ya-lightbox="disqus: true" rel="gallery">
                                <img class="lazyload" data-src="{{ img.image }}" class="figure-img" alt="">
                            </a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-2">
                <a class="btn btn-outline btn-block" href="#" role="button">Load More</a>
            </div>
        </div>
    </section>
{% endblock %}
