{% extends "base.twig" %}

{% block js %}
    <script src="plugins/lazysizes/lazysizes.min.js"></script>
{% endblock %}

{% block body %}
    <section class="bg-darken p-2">
        <div class="container-fluid px-0">
            <div class="owl-carousel owl-height-md" ya-carousel="autowidth: true;dots: false;margin: 8;items: 2">
                {% for carousel in carousel.magazine %}
                    <div class="owl-img lazyload" style="width: 450px;">
                        <img class="lazyload" data-src="{{ carousel.img }}" alt="">
                        <div class="owl-caption owl-caption-bottom">
                            <h1 class="owl-title bg-darken text-white font-weight-normal"><a href="">{{ carousel.title }}</a></h1>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
