{% extends "base.twig" %}

{% set page = {
    class: 'page-lg'
}%}

{% block body %}
    <section class="bg-purple py-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="promo promo-left py-3">
                        <h2 class="promo-title h6 mr-auto"><i class="ya ya-camera mr-2"></i> I am live now and you can help me to earn some new <b><u>trophies</u></b>!</h2>
                        <a class="btn btn-outline-light mr-2" href="#" role="button">Donate me <i class="ya ya-paypal"></i></a>
                        <a class="btn btn-outline-light" href="#" role="button">Subscribe <i class="ya ya-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-image py-5">
        <img class="background" src="https://img.youtube.com/vi/LDzYR5_TR2o/maxresdefault.jpg" alt="">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-embed">
                        <div class="card-header d-flex align-items-center">
                            <h6 class="card-title"><i class="fas fa-circle text-danger mr-1 font-size-xs"></i> Battlefield V Grand Operations - Live Gameplay</h6>
                            <div class="dropdown ml-auto">
                                <button class="btn btn-link p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ya ya-menu"></i></button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://player.twitch.tv/?t=01h10m06s&amp;video=v335875299" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
