{% extends "base.twig" %}

{% block body %}
    <section class="d-flex align-items-center py-5 py-md-7 px-3 px-md-2">
        <div class="container">
            <div class="row py-lg-7">
                <div class="col-md-5 mx-auto">
                    <div class="card mb-0">
                        <div class="card-header">
                            <h5 class="card-title">Forgotten password</h5>
                        </div>
                        <div class="card-body p-3">
                            <form action="profile.html">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ya ya-email"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="email" placeholder="Enter your email">
                                </div>
                                <small class="form-text">We'll send you a verifier link to your email address.</small>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
