{% extends "base.twig" %}

{% block body %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-7 mx-auto">
                    <form>
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5 class="card-title">Create a new account</h5>
                            </div>
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-social btn-github btn-block"><i class="ya ya-github"></i> Register with Github</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-social btn-twitch btn-block"><i class="ya ya-twitch"></i> Register with Twitch</button>
                                    </div>
                                </div>
                                <div class="separator"><span>or</span></div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ya ya-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="username" placeholder="Username" required>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Your username is required.
                                        </div>
                                    </div>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="repeat-password">Repeat Password</label>
                                        <input type="password" class="form-control" id="repeat-password" placeholder="Enter password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="steam">Steam</label>
                                    <input type="text" class="form-control" id="steam" placeholder="Steam username" required>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="terms">
                                    <label class="custom-control-label" for="terms">Accept terms of service</label>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" type="submit">Create an account</button>
                            </div>
                        </div>
                        <!-- end card -->
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
