{% extends "base.twig" %}

{% set docs = {
    title: 'Gulp',
    text: 'Gulp is a toolkit for automating painful or time-consuming tasks in your development workflow, so you can stop messing around and build something.',
    bootstrap: '',
    blocks: [
        {
            title: 'How to install',
            text: 'In order to use Gulp you will need to download Node JS. If node is not installed on your computer then <a href="https://nodejs.org/en/download/" target="_blank">click here</a> to download it. Once node is installed, run the following npm command to install gulp client globally.',
            pre: 'npm install gulp -g',
            single: true,
            small: true
        },
        {
            title: 'Dependencies',
            text: 'After gulp was installed globally you need to run the following command to install the dev dependencies. Just like node.js, <a href="https://yarnpkg.com/" target="_blank">yarn</a> is also required to be installed on your computer for usage.',
            pre: 'yarn',
            single: true,
            small: true,
            custom: '<p class="mt-4">It will install the dev and regular dependencies to our theme directory.</p>'
        },
        {
            title: 'Watch files and build',
            text: 'We are ready to run a development environment by typing <code>yarn watch</code> command into the terminal. Gameforest will be opened in a new browser tab.',
            pre: 'yarn watch',
            single: true,
            small: true,
            custom: '<p class="mt-4"><code>start</code> task is watching <code>./src</code> folder to see current file changes and your browser will be reloaded if you\'ve made a successful modification.</p>'
        },
        {
            title: 'Available Tasks',
            text: 'It is also possible to run single gulp task from terminal by typing <code>yarn *</code> when made a small modification just choose from tasks below.',
            table: {
                head: [
                    { title: 'Name' },
                    { title: 'Description' }
                ],
                body: [
                    [
                        { text: 'watch', code: true },
                        { text: 'Running a development environment for our project.' }
                    ],
                    [
                        { text: 'build', code: true },
                        { text: 'Run css and js task together.' }
                    ],
                    [
                        { text: 'css', code: true },
                        { text: 'Compile scss files into minified and unminified css.' }
                    ],
                    [
                        { text: 'js', code: true },
                        { text: 'Build javascript files with babel.' }
                    ],
                    [
                        { text: 'icon', code: true },
                        { text: 'Generate icon fonts from svg.' }
                    ],
                    [
                        { text: 'html', code: true },
                        { text: 'Compile twig files to html version.' }
                    ],
                    [
                        { text: 'image', code: true },
                        { text: 'Optimize images from src to dist folder.' }
                    ],
                    [
                        { text: 'plugins', code: true },
                        { text: 'Move available plugins from node to dist.' }
                    ],
                    [
                        { text: 'docs', code: true },
                        { text: 'Run the docs folder on localhost.' }
                    ]
                ]
            }
        }
    ]
} %}
