.navbar-dark {
  background-color: #31363e;
}

p > a {
  text-decoration: underline;
  color: $link-hover-color;

  &:hover {
    color: darken($link-hover-color, 5%);
    text-decoration: underline;
  }
}

.version {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: inline-block;
  padding: 6px 10px;
  font-size: 15px;
  color: $white;
  background-color: lighten($dark, 5%);
  border-top-left-radius: 4px;

  &:hover {
    color: $white;
    background-color: lighten($dark, 5%);
  }
}

code {
  padding: 5px;
  background-color: lighten($primary, 45%);
}
