// stylelint-disable declaration-no-important

.bg-darken {
  background-color: darken($dark, 3%) !important;
}

.bg-light {
  background-color: #f3f3f3 !important;
}

.bg-lighten {
  background-color: #f7f7f7 !important;
}

.bg-default {
  background-color: #f3f3f3;
}
