{% extends "base.twig" %}

{% set docs = {
    title: 'Changelog',
    text: 'Description about recent modifications and list of modified files what need to be replaced with current version. Gameforest is up to date with bootstrap 4 framework.',
    blocks: [
        {
            title: '5.0.1 - (12 February 2019)',
            text: '<ul>
                        <li><span class="badge badge-success p-1">Fix</span> <code>.nav-scroll</code> issue on iphone.</li>
                        <li><span class="badge badge-success p-1">Fix</span>  offsetHeight error in console.</li>
                        <li><span class="badge badge-primary p-1">Update</span> home games layout promo bg and slider margin.</li>
                        <li><span class="badge badge-primary p-1">Update</span> Bootstrap from 4.2.1 to 4.3.0</li>
                        <li><span class="badge badge-primary p-1">Update</span> Fontawesome from 5.6.3 to 5.7.1</li>
                        <li><span class="badge badge-primary p-1">Update</span> noUiSlider from 12.1.0 to 13.1.0</li>
                        <li><span class="badge badge-primary p-1">Update</span> lazysizes from 4.1.4 to 4.1.5</li>
                        <li><span class="badge badge-primary p-1">Update</span> bootstrap-select from 1.13.3 to 1.13.5</li>
                        <li><span class="badge badge-primary p-1">Update</span> documentation</li>
                        <li><span class="badge badge-danger p-1">Remove</span> <code>.mb-4</code> class from cards at shop-product page.</li>
                    </ul>'
        },
        {
            title: '5.0.0 - Initial release (25 January 2019)',
            text: '<a href="https://yakuthemes.com" target="_blank">@yakuthemes</a> created gameforest again.'
        }
    ]
} %}
