{% extends "base.twig" %}

{% set docs = {
    title: 'Changelog',
    text: 'Description about recent modifications and list of modified files what need to be replaced with current version. Gameforest is up to date with bootstrap 4 framework.',
    blocks: [
        {
            title: '1.0.0 - Initial release',
            text: '<a href="https://yakuthemes.com" target="_blank">@yakuthemes</a> created gameforest.'
        }
    ]
} %}
