{% extends "base.twig" %}

{% set page = {
    title: '<i class="ya ya-github mr-1"></i> Github',
    text: 'Access to the private github page of the project with recent updates and commits. Be up to date by using a version control service for free.',
    blocks: [
        {
            title: 'Join to the github',
            text: 'Lets join to our community and send a feedback or report issue for the developers.',
            custom: '<div class="alert alert-warning" role="alert">Github access for this project will be avavailable soon!</div>',
        }
    ]
} %}
