{% extends "base.twig" %}

{% set docs = {
    title: 'Icons',
    text: 'Documentation and examples for icons, nucleo premium icon library. Add the chosen icon to custom components like button or cards etc.',
    blocks: [
        {
            title: 'Premium Icons',
            text: 'Included hundred icons from nucleo premium icon library. You can reach these icons with <code>.ya .ya-*</code> classes inside in <code>i</code> html attribute. If you can\'t find your needed icon then you are still able to choose from fontawesome icons.',
            code: '<div class="docs-icons">
                <i class="ya ya-alert" data-toggle="tooltip" title="ya-alert"></i>
                <i class="ya ya-attachment" data-toggle="tooltip" title="ya-attachment"></i>
                <i class="ya ya-bar" data-toggle="tooltip" title="ya-bar"></i>
                <i class="ya ya-bell" data-toggle="tooltip" title="ya-bell"></i>
                <i class="ya ya-blocks" data-toggle="tooltip" title="ya-blocks"></i>
                <i class="ya ya-bold-left" data-toggle="tooltip" title="ya-bold-left"></i>
                <i class="ya ya-bold-right" data-toggle="tooltip" title="ya-bold-right"></i>
                <i class="ya ya-bold-up" data-toggle="tooltip" title="ya-bold-up"></i>
                <i class="ya ya-bold-down" data-toggle="tooltip" title="ya-bold-down"></i>
                <i class="ya ya-bulb" data-toggle="tooltip" title="ya-bulb"></i>
                <i class="ya ya-calendar" data-toggle="tooltip" title="ya-calendar"></i>
                <i class="ya ya-camera" data-toggle="tooltip" title="ya-camera"></i>
                <i class="ya ya-check" data-toggle="tooltip" title="ya-check"></i>
                <i class="ya ya-check-circle" data-toggle="tooltip" title="ya-check-circle"></i>
                <i class="ya ya-clock" data-toggle="tooltip" title="ya-clock"></i>
                <i class="ya ya-code" data-toggle="tooltip" title="ya-code"></i>
                <i class="ya ya-comment" data-toggle="tooltip" title="ya-comment"></i>
                <i class="ya ya-comments" data-toggle="tooltip" title="ya-comments"></i>
                <i class="ya ya-content" data-toggle="tooltip" title="ya-content"></i>
                <i class="ya ya-credit-card" data-toggle="tooltip" title="ya-credit-card"></i>
                <i class="ya ya-delivery" data-toggle="tooltip" title="ya-delivery"></i>
                <i class="ya ya-download" data-toggle="tooltip" title="ya-download"></i>
                <i class="ya ya-edit" data-toggle="tooltip" title="ya-edit"></i>
                <i class="ya ya-email" data-toggle="tooltip" title="ya-email"></i>
                <i class="ya ya-eye" data-toggle="tooltip" title="ya-eye"></i>
                <i class="ya ya-eye-closed" data-toggle="tooltip" title="ya-eye-closed"></i>
                <i class="ya ya-flag" data-toggle="tooltip" title="ya-flag"></i>
                <i class="ya ya-folder" data-toggle="tooltip" title="ya-folder"></i>
                <i class="ya ya-gear" data-toggle="tooltip" title="ya-gear"></i>
                <i class="ya ya-heart" data-toggle="tooltip" title="ya-heart"></i>
                <i class="ya ya-heart-add" data-toggle="tooltip" title="ya-heart-add"></i>
                <i class="ya ya-heart-o" data-toggle="tooltip" title="ya-heart-o"></i>
                <i class="ya ya-helmet" data-toggle="tooltip" title="ya-helmet"></i>
                <i class="ya ya-help" data-toggle="tooltip" title="ya-help"></i>
                <i class="ya ya-help-circle" data-toggle="tooltip" title="ya-help-circle"></i>
                <i class="ya ya-hide" data-toggle="tooltip" title="ya-hide"></i>
                <i class="ya ya-image" data-toggle="tooltip" title="ya-image"></i>
                <i class="ya ya-image-add" data-toggle="tooltip" title="ya-image-add"></i>
                <i class="ya ya-like" data-toggle="tooltip" title="ya-like"></i>
                <i class="ya ya-link" data-toggle="tooltip" title="ya-link"></i>
                <i class="ya ya-list" data-toggle="tooltip" title="ya-list"></i>
                <i class="ya ya-lock" data-toggle="tooltip" title="ya-lock"></i>
                <i class="ya ya-login" data-toggle="tooltip" title="ya-login"></i>
                <i class="ya ya-logout" data-toggle="tooltip" title="ya-logout"></i>
                <i class="ya ya-mark" data-toggle="tooltip" title="ya-mark"></i>
                <i class="ya ya-menu" data-toggle="tooltip" title="ya-menu"></i>
                <i class="ya ya-message" data-toggle="tooltip" title="ya-message"></i>
                <i class="ya ya-minus" data-toggle="tooltip" title="ya-minus"></i>
                <i class="ya ya-cash" data-toggle="tooltip" title="ya-cash"></i>
                <i class="ya ya-note" data-toggle="tooltip" title="ya-note"></i>
                <i class="ya ya-pen" data-toggle="tooltip" title="ya-pen"></i>
                <i class="ya ya-pen-2" data-toggle="tooltip" title="ya-pen-2"></i>
                <i class="ya ya-photo" data-toggle="tooltip" title="ya-photo"></i>
                <i class="ya ya-pin" data-toggle="tooltip" title="ya-pin"></i>
                <i class="ya ya-pin-add" data-toggle="tooltip" title="ya-pin-add"></i>
                <i class="ya ya-play" data-toggle="tooltip" title="ya-play"></i>
                <i class="ya ya-player" data-toggle="tooltip" title="ya-player"></i>
                <i class="ya ya-plus" data-toggle="tooltip" title="ya-plus"></i>
                <i class="ya ya-print" data-toggle="tooltip" title="ya-print"></i>
                <i class="ya ya-random" data-toggle="tooltip" title="ya-random"></i>
                <i class="ya ya-ranking" data-toggle="tooltip" title="ya-ranking"></i>
                <i class="ya ya-refresh" data-toggle="tooltip" title="ya-refresh"></i>
                <i class="ya ya-reply" data-toggle="tooltip" title="ya-reply"></i>
                <i class="ya ya-reply-all" data-toggle="tooltip" title="ya-reply-all"></i>
                <i class="ya ya-resize" data-toggle="tooltip" title="ya-resize"></i>
                <i class="ya ya-save" data-toggle="tooltip" title="ya-save"></i>
                <i class="ya ya-search" data-toggle="tooltip" title="ya-search"></i>
                <i class="ya ya-share" data-toggle="tooltip" title="ya-share"></i>
                <i class="ya ya-shopping-cart" data-toggle="tooltip" title="ya-shopping-cart"></i>
                <i class="ya ya-small-left" data-toggle="tooltip" title="ya-small-left"></i>
                <i class="ya ya-small-right" data-toggle="tooltip" title="ya-small-right"></i>
                <i class="ya ya-caret-down" data-toggle="tooltip" title="ya-caret-down"></i>
                <i class="ya ya-star" data-toggle="tooltip" title="ya-star"></i>
                <i class="ya ya-star-add" data-toggle="tooltip" title="ya-star-add"></i>
                <i class="ya ya-star-o" data-toggle="tooltip" title="ya-star-o"></i>
                <i class="ya ya-stock" data-toggle="tooltip" title="ya-stock"></i>
                <i class="ya ya-table" data-toggle="tooltip" title="ya-table"></i>
                <i class="ya ya-tag" data-toggle="tooltip" title="ya-tag"></i>
                <i class="ya ya-time-alarm" data-toggle="tooltip" title="ya-time-alarm"></i>
                <i class="ya ya-times" data-toggle="tooltip" title="ya-times"></i>
                <i class="ya ya-times-circle" data-toggle="tooltip" title="ya-times-circle"></i>
                <i class="ya ya-trash" data-toggle="tooltip" title="ya-trash"></i>
                <i class="ya ya-unlock" data-toggle="tooltip" title="ya-unlock"></i>
                <i class="ya ya-user" data-toggle="tooltip" title="ya-user"></i>
                <i class="ya ya-user-add" data-toggle="tooltip" title="ya-user-add"></i>
                <i class="ya ya-users" data-toggle="tooltip" title="ya-users"></i>
                <i class="ya ya-video" data-toggle="tooltip" title="ya-video"></i>
                <i class="ya ya-world" data-toggle="tooltip" title="ya-world"></i>
                <i class="ya ya-paypal" data-toggle="tooltip" title="ya-paypal"></i>
                <i class="ya ya-github" data-toggle="tooltip" title="ya-github"></i>
                <i class="ya ya-facebook" data-toggle="tooltip" title="ya-facebook"></i>
                <i class="ya ya-instagram" data-toggle="tooltip" title="ya-instagram"></i>
                <i class="ya ya-twitch" data-toggle="tooltip" title="ya-twitch"></i>
                <i class="ya ya-twitter" data-toggle="tooltip" title="ya-twitter"></i>
                <i class="ya ya-discord" data-toggle="tooltip" title="ya-discord"></i>
                <i class="ya ya-youtube" data-toggle="tooltip" title="ya-youtube"></i>
            </div>',
            pre: '<i class="ya ya-*"></i>'
        },
        {
            title: 'Sizes',
            text: 'It is also possible to display icons in different sizes. Add <code>.ya-md</code> or <code>.ya-lg</code> and <code>.ya-xl</code> class to the icon and the icon will be visible in choosen size.',
            code: '<div class="docs-icon-sizes">
                        <i class="ya ya-helmet"></i>
                        <i class="ya ya-helmet ya-md"></i>
                        <i class="ya ya-helmet ya-lg"></i>
                        <i class="ya ya-helmet ya-xl"></i>
                    </div>',
            pre: '<i class="ya ya-helmet"></i>
<i class="ya ya-helmet ya-md"></i>
<i class="ya ya-helmet ya-lg"></i>
<i class="ya ya-helmet ya-xl"></i>'
        },
        {
            title: 'SVG Icon',
            text: 'Svg can be useful when we would like to use more than one color for our icon. Use <code>ya-svg</code> attribute with selected svg icon from the example below.',
            code: '<div class="docs-svg">
    <span ya-svg="awesome"></span>
    <span ya-svg="like"></span>
    <span ya-svg="sick"></span>
    <span ya-svg="angry"></span></div>',
            pre: '<span ya-svg="awesome"></span>
<span ya-svg="like"></span>
<span ya-svg="sick"></span>
<span ya-svg="angry"></span>'
        },
        {
            title: 'FontAwesome 5',
            text: 'Fontawesome stylesheet will be added automatically to the header when we use an icon. Check the icon library for more examples.',
            custom: '<a class="btn btn-primary" href="https://fontawesome.com/icons?d=gallery&amp;m=free" target="_blank">Open Fontawesome icons</a>'
        }
    ]
} %}


{% set custom %}
    {{ docs.blocks[0]['code'] }}
    <div class="d-flex mt-5">
        <div class="mr-4">
            {{ docs.blocks[1]['code'] }}
        </div>
        {{ docs.blocks[2]['code'] }}
    </div>
{% endset %}
