{% extends "base.twig" %}

{% set docs = {
    title: 'Typography',
    text: 'Documentation and examples for Gameforest typography, including global settings, headings, body text, lists, and more.',
    blocks: [
        {
            title: 'Headings',
            text: 'Use <code>h1</code> – <code>h6</code> to change an elements font size and weight to match our heading styles.',
            code: '<h1 class="mb-3">h1. Heading One</h1>
<h2 class="mb-3">h2. Heading Two</h2>
<h3 class="mb-3">h3. Heading Three</h3>
<h4 class="mb-3">h4. Heading Four</h4>
<h5 class="mb-3">h5. Heading Five</h5>
<h6>h6. Heading Six</h6>',
            pre: '<h1>h1. Heading One</h1>
<h2>h2. Heading Two</h2>
<h3>h3. Heading Three</h3>
<h4>h4. Heading Four</h4>
<h5>h5. Heading Five</h5>
<h6>h6. Heading Six</h6>',
        },
        {
            title: 'Display Headings',
            text: 'Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a <strong>display heading</strong>—a larger, slightly more opinionated heading style.',
            code: '<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4 mb-3">Display 4</h1>
<h1 class="display-5">Display 5</h1>',
            pre: '<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>
<h1 class="display-5">Display 5</h1>',
        },
        {
            title: 'Lead',
            text: 'Make a paragraph stand out by adding <code>.lead</code>.',
            code: '<p class="lead">
  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
</p>',
        },
        {
            title: 'Inline text elements',
            text: 'Change the font weight, styles, and alignment with these utilities.',
            code: '<p class="mb-3">You can use the mark tag to <mark>highlight</mark> text.</p>
<p class="mb-3"><del>This line of text is meant to be treated as deleted text.</del></p>
<p class="mb-3"><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p class="mb-3"><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
<p class="mb-3"><u>This line of text will render as underlined</u></p>
<p class="mb-3"><small>This line of text is meant to be treated as fine print.</small></p>
<p class="mb-3"><strong>This line rendered as bold text.</strong></p>
<p><em>This line rendered as italicized text.</em></p>',
            pre: '<p>You can use the mark tag to <mark>highlight</mark> text.</p>
<p><del>This line of text is meant to be treated as deleted text.</del></p>
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
<p><u>This line of text will render as underlined</u></p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p><strong>This line rendered as bold text.</strong></p>
<p><em>This line rendered as italicized text.</em></p>'
        },
        {
            title: 'Blockquotes',
            text: 'For quoting blocks of content from another source within your document.',
            code: '<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>',
        },
        {
            title: 'Naming a source',
            text: 'Add a <code>&lt;footer class="blockquote-footer"&gt;</code> for identifying the source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.',
            code: '<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>',
        },
        {
            title: 'List unstyled',
            text: 'Remove bullets from an unordered list or numbers from an ordered list by applying <code>.list-unstyled</code> to the <code>&lt;ul&gt;</code>.',
            code: '<ul class="list-unstyled">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Integer molestie lorem at massa</li>
  <li>Facilisis in pretium nisl aliquet</li>
  <li>Nulla volutpat aliquam velit
    <ul>
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies</li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ul>',
        }
    ]
} %}
