{% extends "base.twig" %}

{% set docs = {
    title: 'Widgets',
    text: 'Use custom widgets component to display well designed elements, posts etc...',
    blocks: [
        {
            title: 'Post',
            text: 'Display recommended posts or a single post like in this example.',
            code: '<div class="widget" style="width: 330px">
    <div class="widget-header">Recommends</div>
    <a class="img-cover img-sm mb-3" href="blog-post.html">
        <img src="https://img.youtube.com/vi/PfQ8cOyuE1A/maxresdefault.jpg" alt="">
    </a>
    <div class="widget-body">
        <h5 class="h6"><a href="blog-post.html">Battle royale games explained what could be the next big hit</a></h5>
        <div class="font-size-md font-weight-semibold text-muted mb-2"><i class="ya ya-calendar mr-1"></i> September 10, 2018</div>
        <p>Debating me breeding be answered an he. Spoil event was words her off cause any. Tears woman which no is world miles woo...</p>
    </div>
</div>',
        pre: '<div class="widget">
    <div class="widget-header">Recommends</div>
    <a class="img-cover img-sm mb-3" href="blog-post.html">
        <img src="https://img.youtube.com/vi/PfQ8cOyuE1A/maxresdefault.jpg" alt="">
    </a>
    <div class="widget-body">
        <h5 class="h6"><a href="blog-post.html">Battle royale games explained what could be the next big hit</a></h5>
        <div class="font-size-md font-weight-semibold text-muted mb-2"><i class="ya ya-calendar mr-1"></i> September 10, 2018</div>
        <p>Debating me breeding be answered an he. Spoil event was words her off cause any. Tears woman which no is world miles woo...</p>
    </div>
</div>',
        },
        {
            title: 'Post List',
            text: 'Display recommended posts in a list like in this example.',
            code: '<div class="widget widget-list" style="width: 330px">
    <div class="media">
        <a class="img-cover" href="#">
            <img src="https://img.youtube.com/vi/PfQ8cOyuE1A/maxresdefault.jpg" alt="">
        </a>
        <div class="media-body">
            <h6><a href="#" title="Battle royale games explained what could be the next big hit">Battle royale games explained what could...</a></h6>
            <div class="font-size-sm font-weight-semibold text-muted">September 10, 2018</div>
        </div>
    </div>
    <div class="media">
        <a class="img-cover" href="#">
            <img src="https://img.youtube.com/vi/gJ56BJ-Ba9E/maxresdefault.jpg" alt="">
        </a>
        <div class="media-body">
            <h6><a href="#" title="BioWare\'s Anthem Shows An Exciting New Direction For The Studio">BioWare\'s Anthem Shows An Exciting New D...</a></h6>
            <div class="font-size-sm font-weight-semibold text-muted">September 05, 2018</div>
        </div>
    </div>
    <div class="media">
        <a class="img-cover" href="#">
            <img src="https://img.youtube.com/vi/SG4hoev5uaI/maxresdefault.jpg" alt="">
        </a>
        <div class="media-body">
            <h6><a href="#" title="New Red Dead Redemption 2 Character Art Appears As Massive Billboards">New Red Dead Redemption 2 Character Art ...</a></h6>
            <div class="font-size-sm font-weight-semibold text-muted">September 10, 2018</div>
        </div>
    </div>
    <div class="media">
        <a class="img-cover" href="#">
            <img src="https://img.youtube.com/vi/v2YvZCjieR0/maxresdefault.jpg" alt="">
        </a>
        <div class="media-body">
            <h6><a href="#" title="The Witcher 3: Don\'t Miss This Hidden Contract in Blood and Wine">The Witcher 3: Don\'t Miss This Hidden Co...</a></h6>
            <div class="font-size-sm font-weight-semibold text-muted">August 29, 2018</div>
        </div>
    </div>
    <div class="media">
        <a class="img-cover" href="#">
            <img src="https://img.youtube.com/vi/IzltYVmocOM/maxresdefault.jpg" alt="">
        </a>
        <div class="media-body">
            <h6><a href="#" title="Prey Adds A Horrifying Take On Hide-And-Seek This Summer">Prey Adds A Horrifying Take On Hide-And-...</a></h6>
            <div class="font-size-sm font-weight-semibold text-muted">August 23, 2018</div>
        </div>
    </div>
</div>
<!-- end widget -->',
        pre: '<div class="widget widget-list">
    <div class="media">
        <a class="img-cover" href="#">
            <img src="https://img.youtube.com/vi/PfQ8cOyuE1A/maxresdefault.jpg" alt="">
        </a>
        <div class="media-body">
            <h6><a href="#" title="Battle royale games explained what could be the next big hit">Battle royale games explained what could...</a></h6>
            <div class="font-size-sm font-weight-semibold text-muted">September 10, 2018</div>
        </div>
    </div>
</div>'
        }
    ]
} %}
