<p class="mr-auto">Copyright &copy; {{ now|date('Y') }} by <a href="https://yakuthemes.com" target="_blank">@yakuthemes</a>. Thank you for using yakuthemes products.</p>
<a href="index.html">Getting Started</a>
<a href="changelog.html">Changelog</a>
<a href="../dist">Preview</a>
<a href="#">Ratings</a>
<a href="#">Support</a>
<a href="#">Download</a>
