<nav class="navbar navbar-expand-lg navbar-dark navbar-docs pr-3">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="../dist">Gameforest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav flex-row d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="../dist" target="_blank">Preview</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html">Documentation</a></li>
            <li class="nav-item"><a class="nav-link" href="changelog.html">Changelog</a></li>
            <li class="nav-item"><a class="btn btn-outline-light" href="https://themeforest.net/downloads#item-5007730" target="_blank">Rate now <i class="ya ya-star-add"></i></a></li>
            <li class="nav-item"><a class="nav-link ml-2" href="github.html"><i class="ya ya-github"></i></a></li>
            <li class="nav-item"><a class="nav-link pl-1" href="https://www.facebook.com/yakuthemes" target="_blank"><i class="ya ya-facebook"></i></a></li>
            <li class="nav-item"><a class="nav-link pl-1" href="https://www.twitter.com/yakuthemes" target="_blank"><i class="ya ya-twitter"></i></a></li>
        </ul>
        <!-- end .navbar-nav -->
    </div>
</nav>
