html,
body {
  height: 100%;
}

img {
  // stylelint-disable-next-line value-no-vendor-prefix
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
}

button {
  // stylelint-disable-next-linedeclaration-no-important
  outline: none !important;
}

.site {
  position: relative;
  min-height: 100%;
}
