.nav-list {
  margin: 0 -6px;

  .nav-link {
    padding: 19px 7px;
    margin: 0 6px;
    @include transition($transition-base);

    &:hover,
    &:active,
    &:focus,
    &.active {
      font-weight: $font-weight-semibold;
      color: $primary;
      box-shadow: 0 3px 0 0 $primary;
    }

    &.active {
      font-weight: $font-weight-semibold;
    }
  }

  .dropdown-toggle::after {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 8px;
    font-size: 10px;
    content: $ya-bold-down;
  }

  &.nav-light {
    font-weight: $font-weight-light;
    color: rgba($white, .8);

    .nav-link {
      &:hover,
      &:active,
      &:focus,
      &.active {
        color: $white;
        box-shadow: none;
      }
    }
  }
}

.nav-tabs {
  .nav-link {
    border-top: 0;
    border-right: 1px solid rgba($black, .07);
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;

    &:hover {
      color: inherit;
      background-color: rgba($white, .3);
      border-right: 1px solid rgba($black, .07);
    }

    i {
      float: left;
      margin-top: 3px;
      margin-right: 10px;
    }

    &:active,
    &:focus,
    &.active {
      font-weight: $font-weight-semibold;
      background-color: $white;
      border-left-color: transparent;
    }
  }
}

.nav-list-profile {
  padding-left: 20px;
}

.nav-profile {
  .avatar-fixed {
    position: relative;
    width: 200px;
    height: 100%;
    overflow: hidden;
  }

  .avatar-tile {
    position: absolute;
    bottom: -50px;
  }
}

.is-sticky {
  .avatar-tile {
    bottom: 6px;
  }

  .avatar-thumbnail {
    margin-top: -200px;
  }
}

.nav-bottom {
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 3;
  width: 250px;
  padding: 5px;
  background-color: $dark;
  box-shadow: 0 1px 3px rgba($black, .3);

  .nav {
    display: block;
  }

  .nav-item {
    display: block;
    padding: 0;

    &:last-child .nav-link {
      border-bottom: 0;
    }
  }

  .nav-link {
    padding: 10px 12px;
    font-size: $font-size-sm;
    color: #d2d2d2;
    border-bottom: 1px solid rgba($white, .05);

    @include hover-focus {
      color: $white;
    }
  }

  .badge {
    float: right;
    padding: 4px 5px;
    margin-top: 1px;
    margin-left: 10px;
    font-size: 11px;
    font-weight: $font-weight-semibold;
  }

  .nav-divider {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
