// Base style
.card {
  margin-bottom: $card-margin;
  box-shadow: $card-box-shadow;

  &-header {
    border-color: rgba($black, .1);

    .card-title {
      margin-bottom: 0;
    }
  }

  &-title {
    margin-bottom: 8px;
    font-size: $font-size-base;
    line-height: 1.4;

    i {
      margin-right: 2px;
    }
  }

  &-body {
    .separator span {
      background-color: $white;
    }
  }

  &-img-top {
    border-radius: 0 !important;
  }

  &-img {
    width: auto;
    height: 280px;
    margin: 10px 10px 0 10px;
    @include img-cover();

    .badge {
      position: absolute;
      bottom: 15px;
      right: 15px;
      padding: 7px 10px;
      z-index: 2;
    }
  }

  &-meta {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 500;

    &-item {
      color: rgba($black, .55);

      i {
        margin-right: 3px;
      }

      &:after {
        content: "\2022";
        margin: 0 6px;
        display: inline-block;
      }

      &:last-child:after {
        display: none;
      }
    }
  }

  &-footer {
    background-color: transparent;
    border-top-style: dashed;
    border-color: rgba($black, .1);
    font-size: 14px;
    font-weight: 500;
    color: #6d6c6e;
    display: flex;

    a {
      float: left;
      margin-right: 8px;

      &:last-child {
        margin: 0;
      }
    }

    i {
      margin-right: 3px;
    }
  }
}

// Card shop
.card-shop {
  .card-img {
    height: 250px;
  }
}

// Card price
.card-price {
  text-align: center !important;
  margin-bottom: 0;

  .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  ul {
    li {
      font-weight: 500;
      font-size: 14px;
      padding: 5px 0;

      i {
        margin-right: 8px;
      }
    }
  }
}

// Card video
.card-video {
  .card-img-top {
    border-radius: 0 !important;
  }

  .card-img {
    margin: 10px 10px 15px 10px;
    height: 180px;

    .card-meta span {
      position: absolute;
      bottom: 10px;
      right: 10px;
      left: auto;
      display: inline-block;
      background-color: rgba(25,25,25, 1);
      font-weight: 400;
      padding: 3px 6px;
      color: #fff;
      font-size: 12px;
      border-radius: 4px;
    }
  }

  .card-body {
    padding: 0 10px;
  }

  .card-text {
    font-size: 15px;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

// Card timeline
.card-timeline {
  .card-header {
    display: flex;
    position: relative;
    background-color: #fafafa;
    border-bottom-color: rgba($black, .08);

    .card-meta {
      font-weight: 400;
      font-size: 14px;
      margin: 0;

      &-item {
        color: lighten($black, 55%);

        i {
          float: left;
          margin-top: 3px;
          margin-right: 5px;
        }
      }
    }
  }

  .embed-image {
    height: 425px;
    display: block;

    @include img-cover();
  }

  .comments {
    border-top: 1px solid rgba($black, .08);
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #fafafa;

    .media {
      padding-left: 15px;
      padding-right: 15px;
      border-bottom-style: dashed;
      border-color: rgba($black, .1);
    }
  }

  .card-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.card-embed {
  background-color: darken($dark, 13%);
  border: 0;
  margin: 0;
  border-radius: 0;

  .card-header {
    background-color: darken($dark, 13%);
    color: $white;

    .card-title {
      color: $white;
    }
  }

  .card-body {
    padding: 0 5px 5px 5px;
  }
}

// Secondary
.card-secondary {
  background-color: darken($body-bg, 2%);
  border-color: #e0e0e0;
}

// Default
.card-default {
  background-color: $body-bg;
  box-shadow: none;
  border-color: #e0e0e0;

  .card-header {
    background-color: rgba(0,0,0,0.02);
    border-color: #e0e0e0;
  }

  .card-body {
    .separator span {
      background-color: $body-bg;
    }
  }
}

// Card md
.card-md {
  .card-img {
    height: 240px;
  }
}

// Card sm
.card-sm {
  .card-body {
    padding: 15px 10px;
  }

  .card-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
