// Error 404
.error-404 {
  padding: 140px 0;
  text-align: center;
  color: $white;

  .error-title {
    font-weight: $font-weight-black;
    font-size: 8.75rem;
    color: $white;
    margin-bottom: 0;
  }

  .error-text {
    color: rgba($white, .8);
  }
}
