// Custom label
.custom-control-label {
  &::before {
    background-color: #FFF;
    border: 1px solid #d4d4d4;
    width: 20px;
    height: 20px;
    top: 1.5px;
    left: -30px;
    box-shadow: none !important;
    transition: none;
  }

  &::after {
    width: 20px;
    height: 20px;
    left: -30px;
    top: 1.5px;
  }
}

.custom-radio .custom-control-input:checked,
.custom-checkbox .custom-control-input:checked {
  & ~ .custom-control-label::before {
    border-color: $primary;
  }
}

// Custom file
.custom-file-btn {
  width: auto;
  height: auto;
  cursor: pointer;

  .custom-file-input {
    width: auto;
    height: auto;
    cursor: pointer;
  }

  .custom-file-label {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    height: auto;
    cursor: pointer;

    &:after {
      display: none;
    }
  }
}

// Form inline
.form-control-inline {
  min-width: 25rem;
}

// Dropload
.dropload {
  width: 100%;
  height: 180px;
  border: 1px dashed rgba($black, .2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba($black, .4);

  &:hover {
    border: 1px dashed rgba($black, .3);
  }

  i {
    font-size: 32px;
    margin-top: 23px;
    margin-bottom: 10px;
    color: rgba($black, .3);
  }

  &-text {
    font-weight: 500;
    display: block;
  }
}
