.nav-list {
  margin: 0 -6px;

  .nav-link {
    padding: 19px 7px;
    margin: 0 6px;
    transition: .2s ease-in-out;

    &:hover,
    &:active,
    &:focus,
    &.active {
      color: $primary;
      font-weight: 500;
      box-shadow: 0 3px 0 0 $primary;
    }

    &.active {
      font-weight: 500;
    }
  }


  .dropdown-toggle::after {
    content: $ya-bold-down;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 5px;
  }
}

.nav-tabs {
  .nav-link {
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 1px solid rgba($black, .07);

    &:hover {
      color: inherit;
      background-color: rgba($white, .3);
      border-right: 1px solid rgba($black, .07);
    }

    i {
      float: left;
      margin-top: 3px;
      margin-right: 10px;
    }

    &:active,
    &:focus,
    &.active {
      background-color: $white;
      border-left-color: transparent;
      font-weight: 500;
    }
  }
}

.nav-list-profile {
  padding-left: 20px;
}

.nav-profile {
  .avatar-fixed {
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 200px;
  }

  .avatar-tile {
    position: absolute;
    bottom: -50px;
  }
}

.is-sticky {
  .avatar-tile {
    bottom: 6px;
  }

  .avatar-thumbnail {
    margin-top: -200px;
  }
}

.nav-bottom {
  position: fixed;
  width: 100%;
  z-index: 3;
  left: 0;
  bottom: 0;
  background-color: #333;
  padding: 0;
  border-top: 1px solid rgba(255,255,255, .05);

  .nav {
    border-right: 1px solid rgba(0,0,0, .05);
    display: block;
  }

  .nav-item {
    border-right: 1px solid rgba(255,255,255, .05);
    float: left;
    padding: 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  .nav-link {
    padding: 13px 12px;
    font-size: 14px;
    color: #d2d2d2;
    float: left;

    &:hover {
      color: #FFF;
      background-color: rgba(255,255,255, .03);
    }
  }

  .badge {
    margin-top: 1px;
    margin-left: 10px;
    padding: 4px 5px;
    float: right;
    font-size: 11px;
    font-weight: $font-weight-semibold;
  }

  .nav-divider {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
