// Reaction
.reaction {
  display: flex;
  align-items: center;
  margin-left: -10px;
  margin-top: 15px;

  svg {
    transition: transform .28s ease-in-out;
    width: 34px;
    height: 34px;
  }

  &-count {
    background-color: $white;
    display: inline-block;
    border: 1px solid rgba($black, .2);
    padding: 4px 8px;
    text-align: center;
    margin-left: 5px;
    font-size: 14px;
    position: relative;
    border-radius: 3px;

    &:after, &:before {
      right: 100%;
      top: 12px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-right-color: $white;
      border-width: 5px;
      margin-top: -5px;
    }

    &:before {
      border-right-color: rgb(175, 175, 175);
      border-width: 6px;
      margin-top: -6px;
    }
  }

  .btn-link {
    padding: 0 5px;

    &:hover {
      color: $body-color;

      svg {
        transform: rotate(360deg);
      }

      .reaction-count {
        border: 1px solid rgba($black, .3);

        &:before {
          border-right-color: rgb(124, 124, 124);
        }
      }
    }
  }
}
