.star {
  i {
    margin-right: 2px;
    line-height: inherit;
  }

  .text-muted {
    color: #d0d0d0 !important;
  }
}

.star-group {
  @include clearfix;
  float: left;

  .btn {
    float: right;
    color: #d0d0d0;
    padding: 0;
    transition: none;

    i {
      margin: 0;
    }

    &:active,
    &.active,
    &:focus,
    &:hover {
      color: $warning;

      ~ .btn {
        color: $warning;
      }
    }
  }
}
