html, body {
  height: 100%;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

button {
  outline: none !important;
}

img {
  max-width: 100%;
}

.site {
  min-height: 100%;
  position: relative;
}
