.font-weight-semibold {
  font-weight: 500;
}

.font-size-lg {
  font-size: 1.625rem;
}

.font-weight-black {
  font-weight: 900;
}

.font-size-md {
  font-size: 15px;
}

.font-size-sm {
  font-size: 14px;
}

.font-size-xs {
  font-size: 12px;
}

.text-underline {
  text-decoration: underline;
}

.text-dark {
  color: #434548 !important;
}

.display-title {
  margin-bottom: 35px;
  text-shadow: 3px 1px 0 $primary;
}

.blockquote {
  color: #545454;
  padding: 25px 30px;
  background-color: #efefef;

  p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
  }
}

.page-item.gap {
  .page-link {
    background-color: transparent;
    border-color: transparent;
  }
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.border-dashed {
  border-style: dashed;
  border-width: 1px;
}

.border-bottom-dashed {
  border-bottom: 1px dashed rgba($black, .14);
}

.border-top-dashed {
  border-top: 1px dashed rgba($black, .14);
}

.bg-darken {
  background-color: darken($body-bg, 3%);
}

.cursor-pointer {
  cursor: pointer;
}

.mt-minus {
  margin-top: -1px;
}

.text-white {
  > .container > .row > .col {
    > h1, > h2 {
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    &:not(.card-header) {
      color: $white;
    }
  }

  p {
    color: rgba($white, .7);
  }
}

.bg-light {
  background-color: #f3f3f3 !important;
}

.bg-default {
  background-color: #f3f3f3;
}

.text-light {
  color: #7b7b7b !important;

  h1, h2, h3, h4, h5, h6 {
    &:not(.card-header) {
      color: #7b7b7b;
    }
  }

  p {
    color: #7b7b7b;
  }
}

.text-lighten {
  color: rgba($white, .7) !important;

  h1, h2, h3, h4, h5, h6 {
    &:not(.card-header) {
      color: $white;
    }
  }

  p {
    color: rgba($white, .7);
  }
}

.link {
  color: $primary;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}

.ya-md {
  font-size: 24px;
}

.ya-lg {
  font-size: 32px;
}

.ya-xl {
  font-size: 48px;
}

.docs-badge,
.docs-btn {
  .btn,
  .badge {
    margin-bottom: 5px;
  }
}

.docs-icons {
  margin: 0 -15px;

  i {
    font-size: 24px;
    margin: 15px;
    color: darken($body-color, 5%);
  }
}

.figure {
  position: relative;
  background-color: $white;
  border: 1px solid rgba(0,0,0, 0.13);
  padding: 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: .1s ease-in-out;
  margin: 0 0 5px 0;

  img {
    border-radius: 3px;
    margin: 0;
  }

  &:hover {
    border-color: $primary;
  }
}

.h-calc-100 {
  height: calc(100vh);
}

.page-lg {
  .container {
    @include media-breakpoint-up(md) {
      max-width: 1240px;
    }
  }
}

.row-sm {
  margin: 0 -10px;

  > div {
    padding: 0 10px;
  }
}

.row-xs {
  margin: 0 -5px;

  > div {
    padding: 0 5px;
  }
}

mark {
  color: #56523c;
}

.social-links {
  a {
    color: lighten($white, 40%);
    padding: 0 8px;
  }
}
